.container {
  margin-top: 38px;
}

.container-sidenav {
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-menu {
  width: 190px;
}

:host ::ng-deep router-outlet+* {
  height: 100%;
}

.hg-page {
  min-height: calc(100% - 88px);
}


@media screen and (min-width: 1030px) and (max-width: 1800px) {
  .container {
    margin-top: 38px;
  }
}

::ng-deep {
  .scroll-bar {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px !important;
    width: 10px !important;
  }

  .scroll-thumbs {
    background-color: #263238 !important;

    &:hover,
    &:active {
      background-color: #263238 !important;
    }
  }
}

.overflow{
  overflow: auto;
}