<nav-bar class="mat-elevation-z6"
         [usuario]="usuario"
         (clickMenu)="sidenav.toggle()"
         (logout)="logout()">
</nav-bar>

<mat-sidenav-container class="container-sidenav">
  <mat-sidenav #sidenav
               mode="over"
               class="sidenav-menu"
               fixedTopGap="0"
               fixedBottomGap="0">
    <side-nav></side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <ng-scrollbar barClass="scroll-bar"
                  thumbClass="scroll-thumbs"> -->
    <div style="height:calc(100% - 38px)">
      <div class="pd-12 hg-page container overflow">
        <ui-container>
          <router-outlet></router-outlet>
        </ui-container>
      </div>
      <app-footer></app-footer>
    </div>
    <!-- </ng-scrollbar> -->
  </mat-sidenav-content>
</mat-sidenav-container>
