<mat-card fxLayout="column">
    <h2 align="center"
        class="cl-primary fw-400">Reporte de Llamadas</h2>

    <div fxLayout="row"
         fxLayoutGap="24px"
         fxLayoutAlign="center center">
        <mat-card fxFlex="90">
            <h3 align="center"
                class="cl-primary fw-400">Resumen de Contacto</h3>
            <div echarts
                 [options]="options"
                 theme="macarons"></div>
        </mat-card>
        <!-- <mat-card fxFlex="50">
            <h3 align="center"
                class="cl-primary fw-400">Chart 2</h3>
            <div echarts
                 [options]="option"
                 theme="macarons"></div>

        </mat-card> -->
    </div>
</mat-card>