<mat-card fxLayout="column">
    <h3 class="cl-primary">AGENDA DE LLAMADAS 1K</h3>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECORDATORIO MANTTO 1k (SEGUNDO RECORDATORIO o
                    más)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a-list-1></a-list-1>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECORDATORIO MANTTO 1k (PRIMER RECORDATORIO)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a-list-2></a-list-2>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECORDATORIO MANTTO 5K HIACE (PRIMER
                    RECORDATORIO)
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a-list-3></a-list-3>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECUPERACIÓN DE CLIENTES QUE NO ASISTIERON A 1K
                    LUEGO DE TRANSCURRIDOS 30 DÍAS CALENDARIO LUEGO
                    DE LA ENTREGA DE SU PLACA
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a-list-4></a-list-4>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>