:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}
h3 {
  text-align: center;
  font-family: Exo, sans-serif;
}

mat-card {
  padding: 12px;
}

/******************************************/
.hide {
  display: none;
}
