<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate
          fxLayout="column"
          fxLayoutGap="8px">
       <mat-card-title>Detalle Razón No Agendo Cita</mat-card-title>
       <mat-card-content fxLayout="column">
              <!-- NO RECIBIOTARJETA -->
              <mat-form-field *ngIf="razonNoAgendoCita=='NO RECIBIÓ TARJETA NI PLACA' || razonNoAgendoCita=='NO RECIBIÓ PLACA'"
                              appearance="outline"
                              color="accent">
                     <mat-label>Detalle Razón</mat-label>
                     <input matInput
                            placeholder="Precisar Razón"
                            formControlName="vozCliente">
              </mat-form-field>

              <!-- FALTA RECORRIDO -->
              <div *ngIf="razonNoAgendoCita=='FALTA RECORRIDO'"
                   fxLayout="column"
                   fxLayoutGap="8px">

                     <div fxLayout="row"
                          fxLayoutGap="24px"
                          fxLayoutAlign="start center">

                            <div fxFlex="40"
                                 fxLayout="column">
                                   <mat-progress-bar *ngIf="loading"
                                                     color="accent"
                                                     mode="indeterminate"></mat-progress-bar>
                                   <mat-form-field appearance="outline"
                                                   color="accent">
                                          <mat-label>Fecha Límite Llamada</mat-label>
                                          <input matInput
                                                 readonly
                                                 value="{{form.get('fechaLimiteLlamada').value | date:'dd/MM/yyyy'}}">
                                          <mat-icon matSuffix>today</mat-icon>
                                   </mat-form-field>
                            </div>

                            <div fxLayout="row"
                                 fxLayoutAlign="space-between center"
                                 fxLayoutGap="8x"
                                 fxFlex>
                                   <mat-radio-group fxLayout="column"
                                                    fxLayoutGap="8px"
                                                    formControlName="sabeKm">
                                          <mat-radio-button #rbtnSabeKm
                                                            value="S"
                                                            (change)="changeKm('S')">Sabe
                                                 Km Actual</mat-radio-button>
                                          <mat-radio-button value="N"
                                                            (change)="changeKm('N')">No
                                                 Sabe Km Actual</mat-radio-button>
                                   </mat-radio-group>

                                   <mat-form-field *ngIf="rbtnSabeKm.checked"
                                                   appearance="outline"
                                                   color="accent">
                                          <mat-label>Km Actual</mat-label>
                                          <input matInput
                                                 type="number"
                                                 formControlName="kmActual">
                                   </mat-form-field>

                                   <mat-form-field *ngIf="!rbtnSabeKm.checked"
                                                   appearance="outline"
                                                   color="accent">
                                          <mat-label>Uso Vehicular</mat-label>
                                          <mat-select placeholder="Seleccione"
                                                      formControlName="usoVehicular">
                                                 <mat-option *ngFor="let item of usosVehiculares"
                                                             [value]="item">
                                                        {{item}} </mat-option>
                                          </mat-select>
                                   </mat-form-field>

                                   <button mat-mini-fab
                                           (click)="calcularFechaPronostico()"
                                           matTooltip="Pronóstico Fecha">
                                          <mat-icon>event</mat-icon>
                                   </button>
                            </div>
                     </div>

                     <div fxLayout="row"
                          fxLayoutGap="8px">
                            <mat-form-field fxFlex="50"
                                            appearance="outline"
                                            color="accent">
                                   <mat-label>Pronóstico Proxima Llamada</mat-label>
                                   <input matInput
                                          readonly
                                          value="{{form.get('fechaPronosticoProxLlamada').value | date:'dd/MM/yyyy'}}">
                                   <mat-icon matSuffix>today</mat-icon>
                            </mat-form-field>

                            <mat-form-field fxFlex="50"
                                            appearance="outline"
                                            color="accent">
                                   <mat-label>Sugerida Cliente Proxima Llamada</mat-label>
                                   <input matInput
                                          (dateChange)="changeFechasugerida($event.value)"
                                          [matDatepicker]="dpSugerida"
                                          [matDatepickerFilter]="dayFilter"
                                          formControlName="fechaSugeridaClienteProxLlamada"
                                          placeholder="Seleccione Fecha">
                                   <mat-datepicker-toggle matSuffix
                                                          [for]="dpSugerida"></mat-datepicker-toggle>
                                   <mat-datepicker #dpSugerida></mat-datepicker>
                            </mat-form-field>


                     </div>

                     <div fxLayout="row"
                          fxLayoutGap="8px">

                            <mat-form-field fxFlex="50"
                                            appearance="outline"
                                            color="accent">
                                   <mat-label>Corregida Sistema</mat-label>
                                   <input matInput
                                          readonly
                                          value="{{form.get('fechaCorregidaSistemaProxLlamada').value | date:'dd/MM/yyyy'}}">
                                   <mat-icon matSuffix>today</mat-icon>
                            </mat-form-field>

                            <mat-form-field fxFlex="50"
                                            appearance="outline"
                                            color="accent">
                                   <mat-label>Pactada para Proxima Llamada</mat-label>
                                   <input matInput
                                          [matDatepicker]="pickerFinal"
                                          [matDatepickerFilter]="dayFilter"
                                          formControlName="fechaPactadaProxLlamada"
                                          placeholder="Seleccione Fecha">
                                   <mat-datepicker-toggle matSuffix
                                                          [for]="pickerFinal"></mat-datepicker-toggle>
                                   <mat-datepicker #pickerFinal></mat-datepicker>
                            </mat-form-field>
                     </div>

              </div>


              <!-- DESCONOCE DATOS -->
              <div *ngIf="razonNoAgendoCita=='DESCONOCE DATOS'"
                   fxLayout="row"
                   fxLayoutGap="8px">

                     <mat-form-field fxFlex="50"
                                     appearance="outline"
                                     color="accent">
                            <mat-label>Fecha Sgte. Llamada</mat-label>
                            <input matInput
                                   [matDatepicker]="pickerSgteLlamada"
                                   [matDatepickerFilter]="dayFilter"
                                   formControlName="fechaPactadaProxLlamada"
                                   placeholder="Seleccione Fecha">
                            <mat-datepicker-toggle matSuffix
                                                   [for]="pickerSgteLlamada"></mat-datepicker-toggle>
                            <mat-datepicker #pickerSgteLlamada></mat-datepicker>
                     </mat-form-field>
              </div>
              <!-- REALIZO MANTTO EN OTRO CONCESIONARIO, REALIZO MANTTO EN OTRO TALLER -->
              <div *ngIf="razonNoAgendoCita=='REALIZÓ MANTTO EN OTRO CONCESIONARIO' || razonNoAgendoCita=='REALIZÓ MANTTO EN OTRO TALLER'"
                   fxLayout="row"
                   fxLayoutGap="8px">

                     <mat-form-field fxFlex="50"
                                     appearance="outline"
                                     color="accent">
                            <mat-label>
                                   {{razonNoAgendoCita=='REALIZÓ MANTTO EN OTRO CONCESIONARIO'
                                   ?'Concesionario':'Taller'}}
                            </mat-label>

                            <input matInput
                                   formControlName="vozCliente">
                     </mat-form-field>

                     <mat-form-field fxFlex="50"
                                     appearance="outline"
                                     color="accent">
                            <mat-label>Fecha Sgte. Llamada</mat-label>
                            <input matInput
                                   [matDatepicker]="pickerSgteLlamada"
                                   [matDatepickerFilter]="dayFilter"
                                   formControlName="fechaPactadaProxLlamada"
                                   placeholder="Seleccione Fecha">
                            <mat-datepicker-toggle matSuffix
                                                   [for]="pickerSgteLlamada"></mat-datepicker-toggle>
                            <mat-datepicker #pickerSgteLlamada></mat-datepicker>
                     </mat-form-field>

              </div>
              <!-- NO DESEA CITA -->
              <mat-form-field *ngIf="razonNoAgendoCita=='NO DESEA CITA'"
                              class="wd-100"
                              appearance="outline"
                              color="accent">
                     <mat-label>Razón no desea cita</mat-label>
                     <input matInput
                            formControlName="vozCliente">
              </mat-form-field>
              <!-- NO DESEA ATENCION EN CORASUR -->
              <div *ngIf="razonNoAgendoCita=='NO DESEA ATENCIÓN EN CORASUR'"
                   fxLayout="row"
                   fxLayoutGap="8px">

                     <mat-form-field fxFlex="50"
                                     appearance="outline"
                                     color="accent">
                            <mat-label>Razón no desea atención en Corasur</mat-label>
                            <mat-select placeholder="Seleccione causa"
                                        formControlName="resumenContacto"
                                        required>
                                   <mat-option *ngFor="let item of razonesRechazo"
                                               [value]="item">{{item}}
                                   </mat-option>
                            </mat-select>
                     </mat-form-field>

                     <mat-form-field fxFlex="50"
                                     appearance="outline"
                                     color="accent">
                            <mat-label>Voz Cliente negativa</mat-label>
                            <input matInput
                                   placeholder="Ingrese voz cliente negativa"
                                   formControlName="vozCliente">
                     </mat-form-field>

              </div>
              <!-- OTROS -->
              <mat-form-field *ngIf="razonNoAgendoCita=='NO LE INTERESA LA CAMPAÑA' ||razonNoAgendoCita=='OTROS'"
                              class="wd-100"
                              appearance="outline"
                              color="accent">
                     <mat-label>Observaciones</mat-label>
                     <input matInput
                            formControlName="vozCliente">
              </mat-form-field>


       </mat-card-content>
</mat-card>