<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"
             fxLayoutAlign.xs="center" color="primary">
  <div fxLayout="row">
    <!-- <img class="logo"
         src="assets/logo-footer.png"
         alt="logo"> -->
    <i>
      <p class="fs-12 bold">
        CORASUR S.A
      </p>
    </i>

  </div>
  
  <a fxHide.lt-sm href="https://www.dev-bug.com/" target="_blank" class="fs-12 fw-300">{{texto}}</a>

</mat-toolbar>
