.logo {
  height: 56px;
  margin-right: -16px;
  // height: 30px;
  // margin-right: 6px;
  align-self: center;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 300;
}
