<!-- APROBACION DE PRESUPUESTO ADICIONAL-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===25">
    <mat-card-title>
        B11. APROBACION DE PRESUPUESTO ADICIONAL
    </mat-card-title>
    <div fxLayoutGap="8px"
         fxLayout="column">
        <mat-card fxLayoutGap="8px">
            <div fxLayoutGap="8px"
                 fxLayout="column">
                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Resultado de Aprobacion</mat-label>
                    <mat-select placeholder="Seleccione Resultado"
                                formControlName="idAprobacion"
                                required
                                #selrecojo
                                (ngModelChange)="changeNotificacion()">
                        <mat-option *ngFor="let a of aprobaciones"
                                    [value]="a.idAprobacion">
                            {{a.aprobacion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>
        <div fxFlex="2"></div>
        <mat-card fxLayoutGap="8px">
            <div fxLayout="row"
                 fxLayoutGap="8px"
                 fxLayout.xs="column">
                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Numero de Presupuesto</mat-label>
                    <input matInput
                           placeholder="Ingrese Numero"
                           formControlName="detalleInvitacion">
                </mat-form-field>
                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idAprobacion===1">
                    <mat-label>Motivo de Aceptacion Conforme</mat-label>
                    <input matInput
                           placeholder="Ingrese Motivo"
                           formControlName="detalleInvitacion">
                </mat-form-field>
            </div>
            <div fxLayout="row"
                 fxLayoutGap="8px"
                 fxLayout.xs="column">
                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Monto</mat-label>
                    <input matInput
                           placeholder="Ingrese Monto"
                           formControlName="detalleInvitacion">
                </mat-form-field>
                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idAprobacion===3">
                    <mat-label>Motivo de No Aceptacion</mat-label>
                    <input matInput
                           placeholder="Ingrese Motivo"
                           formControlName="detalleInvitacion">
                </mat-form-field>
            </div>
            <div fxLayout="row"
                 fxLayoutGap="8px"
                 fxLayout.xs="column">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idAprobacion===1 || this.form.value.idAprobacion===2">
                    <mat-label>Fecha Programada</mat-label>
                    <input matInput
                           [matDatepicker]="pickerRecordatorio"
                           [matDatepickerFilter]="myFilter"
                           formControlName="fechaRecordatorio"
                           placeholder="Seleccione Fecha">
                    <mat-datepicker-toggle matSuffix
                                           [for]="pickerRecordatorio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRecordatorio></mat-datepicker>
                </mat-form-field>
                <div fxFlex="50"
                     *ngIf="this.form.value.idAprobacion===1 || this.form.value.idAprobacion===2">
                    <time-picker [disabled]="form.get('fechaRecordatorio').disabled"
                                 [time]="horaRecordatorio"
                                 (change)="horaRecordatorio=$event"
                                 disabledInput="true"
                                 placeholder="Hora"></time-picker>
                </div>
                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idAprobacion===4 || this.form.value.idAprobacion===2">
                    <mat-label>Voz Cliente Negativa</mat-label>
                    <input matInput
                           placeholder="Ingrese Voz Negativa"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</mat-card>
<!-- NOTIFICACION TERMINO DE TRABAJO-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===26">
    <mat-card-title>
        B12. NOTIFICACION TERMINO DE TRABAJO
    </mat-card-title>
    <div fxLayoutGap="8px"
         fxLayout="row"
         fxLayout.xs="column">
        <mat-form-field fxFlex="25"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Resultado de la Notificacion</mat-label>
            <mat-select placeholder="Seleccione Resultado"
                        formControlName="idNotificacion"
                        required
                        #selrecojo
                        (ngModelChange)="changeNotificacion()">
                <mat-option *ngFor="let n of notificaciones"
                            [value]="n.idNotificacion">
                    {{n.notificacion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayoutGap="8px"
             fxLayout="column">
            <div fxLayoutGap="8px"
                 fxLayout="row"
                 fxLayout.xs="column"
                 *ngIf="this.form.value.idNotificacion===1 || this.form.value.idNotificacion===2 || this.form.value.idNotificacion===3">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Fecha Recojo</mat-label>
                    <input matInput
                           [matDatepicker]="pickerRecordatorio"
                           [matDatepickerFilter]="myFilter"
                           formControlName="fechaRecordatorio"
                           placeholder="Seleccione Fecha">
                    <mat-datepicker-toggle matSuffix
                                           [for]="pickerRecordatorio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRecordatorio></mat-datepicker>
                </mat-form-field>
                <div fxFlex="50">
                    <time-picker [disabled]="form.get('fechaRecordatorio').disabled"
                                 [time]="horaRecordatorio"
                                 (change)="horaRecordatorio=$event"
                                 disabledInput="true"
                                 placeholder="Hora"></time-picker>
                </div>
            </div>
            <div fxLayoutGap="8px"
                 fxLayout="row"
                 fxLayout.xs="column"
                 *ngIf="this.form.value.idNotificacion===4 || this.form.value.idNotificacion===5 || this.form.value.idNotificacion===6 || this.form.value.idNotificacion===7">
                <mat-form-field fxFlex="100"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Registrar Mensaje</mat-label>
                    <input matInput
                           placeholder="Ingrese Mensaje"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
            </div>
            <div fxLayoutGap="8px"
                 fxLayout="row"
                 fxLayout.xs="column"
                 *ngIf="this.form.value.idNotificacion===8 || this.form.value.idNotificacion===9">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Fecha Solicitada</mat-label>
                    <input matInput
                           [matDatepicker]="pickerRecordatorio"
                           [matDatepickerFilter]="myFilter"
                           formControlName="fechaRecordatorio"
                           placeholder="Seleccione Fecha">
                    <mat-datepicker-toggle matSuffix
                                           [for]="pickerRecordatorio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRecordatorio></mat-datepicker>
                </mat-form-field>
                <div fxFlex="50">
                    <time-picker [disabled]="form.get('fechaRecordatorio').disabled"
                                 [time]="horaRecordatorio"
                                 (change)="horaRecordatorio=$event"
                                 disabledInput="true"
                                 placeholder="Hora"></time-picker>
                </div>
            </div>
            <mat-form-field fxFlex="25"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="this.form.value.idNotificacion===8 || this.form.value.idNotificacion===9">
                <mat-label>Motivo</mat-label>
                <mat-select placeholder="Seleccione Motivo"
                            formControlName="id"
                            required
                            #selrecojo
                            (ngModelChange)="changeNotificacion()">
                    <mat-option *ngFor="let m of motivosNoti"
                                [value]="m.id">
                        {{m.motivo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card>
<!-- POSTERGACION DE ENTREGA-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===27">
    <mat-card-title>
        B13. POSTERGACION DE ENTREGA
    </mat-card-title>
    <div fxLayoutGap="8px"
         fxLayout="column">
        <mat-form-field fxFlex="25"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>RESULTADO POSTERGACION ENTREGA</mat-label>
            <mat-select placeholder="Seleccione postergacion"
                        formControlName="idPostergacion"
                        (ngModelChange)="changePostergaciones()">
                <mat-option *ngFor="let p of postergaciones"
                            [value]="p.idPostergacion">
                    {{p.postergacion}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayoutGap="8px"
         fxLayout="column">
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column"
             *ngIf="this.form.value.idPostergacion===1 || this.form.value.idPostergacion===2 || this.form.value.idPostergacion===3 || this.form.value.idPostergacion===4">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Fecha de entrega reprogramada</mat-label>
                <input matInput
                       [matDatepicker]="pickerRecordatorio"
                       [matDatepickerFilter]="myFilter"
                       formControlName="fechaRecordatorio"
                       placeholder="Seleccione Fecha">
                <mat-datepicker-toggle matSuffix
                                       [for]="pickerRecordatorio"></mat-datepicker-toggle>
                <mat-datepicker #pickerRecordatorio></mat-datepicker>
            </mat-form-field>
            <div fxFlex="50">
                <time-picker [disabled]="form.get('fechaRecordatorio').disabled"
                             [time]="horaRecordatorio"
                             (change)="horaRecordatorio=$event"
                             disabledInput="true"
                             placeholder="Hora"></time-picker>
            </div>
        </div>
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column"
             *ngIf="this.form.value.idPostergacion===1">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>MOTIVO DE ACEPTACION CONFORME</mat-label>
                <input matInput
                       placeholder="Ingrese motivo"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
        </div>
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column"
             *ngIf="this.form.value.idPostergacion===2 || this.form.value.idPostergacion===4">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>VOZ CLIENTE NEGATIVA</mat-label>
                <input matInput
                       placeholder="Ingrese mensaje"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
        </div>
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column"
             *ngIf="this.form.value.idPostergacion===3">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>MOTIVO DE CAMBIO DE FECHA DE ENTREGA</mat-label>
                <input matInput
                       placeholder="Ingrese motivo"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
        </div>
    </div>
</mat-card>
<!-- SEGUIMIENTO POST SERVICIO-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===28">
    <mat-card-title>
        B14. SEGUIMIENTO POST SERVICIO
    </mat-card-title>
    <div fxLayoutGap="8px"
         fxLayout="column">
        <mat-form-field fxFlex="25"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>SEGUIMIENTO</mat-label>
            <mat-select placeholder="Seleccione seguimiento"
                        formControlName="idServicio"
                        (ngModelChange)="changeServicios()">
                <mat-option *ngFor="let s of servicios"
                            [value]="s.idServicio">
                    {{s.servicio}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-card>
<!-- SEGUIMIENTO POR TDP-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===29">
    <mat-card-title>
        B15. SEGUIMIENTO POR TDP
    </mat-card-title>
    <div fxLayoutGap="8px"
         fxLayout="column">
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">
            <mat-form-field fxFlex="25"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>REGISTRO DE ALERTAS TDP</mat-label>
                <mat-select placeholder="Seleccione Alerta"
                            formControlName="idReA"
                            (ngModelChange)="changeNotificacion()">
                    <mat-option *ngFor="let m of registroAlertas"
                                [value]="m.idReA">
                        {{m.registro}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>VOZ CLIENTE</mat-label>
                <input matInput
                       placeholder="Ingrese Mensaje"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
        </div>
        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>RESULTADO DE ALERTAS</mat-label>
                <mat-select placeholder="Seleccione Resultado"
                            formControlName="idRA"
                            (ngModelChange)="changeNotificacion()">
                    <mat-option *ngFor="let m of resultadoAlertas"
                                [value]="m.idRA">
                        {{m.resultado}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="this.form.value.idRA===1">
                <mat-label>REGISTRO DE ATENCION DIRECTA</mat-label>
                <mat-select placeholder="Seleccione Atencion"
                            formControlName="idAD"
                            (ngModelChange)="changeNotificacion()">
                    <mat-option *ngFor="let m of atencionesDirectas"
                                [value]="m.idAD">
                        {{m.atencion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="this.form.value.idRA===2">
                <mat-label>REGISTRO DE ATENCION INDIRECTA</mat-label>
                <mat-select placeholder="Seleccione Atencion"
                            formControlName="idID"
                            (ngModelChange)="changeNotificacion()">
                    <mat-option *ngFor="let m of atencionesIndirectas"
                                [value]="m.idID">
                        {{m.atencion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column"
             fxLayoutGap="8px"
             *ngIf="this.form.value.idRA===1">
            <mat-form-field fxFlex="30"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="this.form.value.idAD===1 || this.form.value.idAD===2 || this.form.value.idAD===5">
                <mat-label>DETALLE DE ATENCION</mat-label>
                <input matInput
                       placeholder="Ingrese detalle"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
            <div fxLayout="row"
                 fxLayoutGap="8px"
                 fxLayout.xs="column"
                 *ngIf="this.form.value.idAD===3 || this.form.value.idAD===4">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Fecha Cita Retorno</mat-label>
                    <input matInput
                           [matDatepicker]="pickerRecordatorio"
                           [matDatepickerFilter]="myFilter"
                           formControlName="fechaRecordatorio"
                           placeholder="Seleccione Fecha">
                    <mat-datepicker-toggle matSuffix
                                           [for]="pickerRecordatorio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRecordatorio></mat-datepicker>
                </mat-form-field>
                <div fxFlex="50">
                    <time-picker [disabled]="form.get('fechaRecordatorio').disabled"
                                 [time]="horaRecordatorio"
                                 (change)="horaRecordatorio=$event"
                                 disabledInput="true"
                                 placeholder="Hora"></time-picker>
                </div>
            </div>
        </div>
        <div fxLayout="column"
             fxLayoutGap="8px"
             *ngIf="this.form.value.idRA===2">
            <div fxLayout="row"
                 fxLayout.xs="column"
                 fxLayoutGap="8px"
                 *ngIf="this.form.value.idRA===2">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idID===1">
                    <mat-label>TIPO DESCUENTO</mat-label>
                    <input matInput
                           placeholder="Ingrese descuento"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idID===1 || this.form.value.idID===2">
                    <mat-label>CADUCIDAD</mat-label>
                    <input matInput
                           placeholder="Ingrese caducidad"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
            </div>
            <div fxLayout="row"
                 fxLayout.xs="column"
                 fxLayoutGap="8px"
                 *ngIf="this.form.value.idRA===2">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idID===1 || this.form.value.idID===2">
                    <mat-label>TIPO DE SERVICIO</mat-label>
                    <input matInput
                           placeholder="Ingrese tipo servicio"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idID===1 || this.form.value.idID===2">
                    <mat-label>SERVICIO</mat-label>
                    <input matInput
                           placeholder="Ingrese servicio"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
            </div>
            <div fxLayout="row"
                 fxLayout.xs="column"
                 fxLayoutGap="8px"
                 *ngIf="this.form.value.idRA===2">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent"
                                *ngIf="this.form.value.idID===3">
                    <mat-label>OTRO</mat-label>
                    <input matInput
                           placeholder="Ingrese otro"
                           formControlName="vozNegativaRecordatorio">
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-card>
<!-- RECOMENDACIONES EFECTUADAS POR MECANICO Y/O ASESOR DE SERVICIO-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===30">
    <mat-card-title>
        B16. RECOMENDACIONES EFECTUADAS POR MECANICO Y/O ASESOR DE SERVICIO
    </mat-card-title>
    <div fxLayoutGap="8px"
         fxLayout="column">
        <mat-card fxLayoutGap="8px"
                  appearance="outline">
            <mat-card-title>
                Estado de Pastillas y/o Fajas Freno
            </mat-card-title>
            <div fxLayout="row"
                 fxLayout.xs="column">
                <div>
                    <mat-label style="color: green;font-weight: bold;">Delanteras</mat-label>
                    <div fxLayout="row"
                         fxLayout.xs="column"
                         fxLayoutGap="8px">
                        <mat-form-field fxFlex="25"
                                        fxFlex.xs="100"
                                        appearance="outline"
                                        color="accent">
                            <mat-label>A</mat-label>
                            <input matInput
                                   type="number"
                                   placeholder="A mm"
                                   formControlName="vozNegativaRecordatorio">
                        </mat-form-field>
                        <mat-form-field fxFlex="25"
                                        fxFlex.xs="100"
                                        appearance="outline"
                                        color="accent">
                            <mat-label>B</mat-label>
                            <input matInput
                                   type="number"
                                   placeholder="B mm"
                                   formControlName="vozNegativaRecordatorio">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-label style="color: green;font-weight: bold;">Posteriores</mat-label>
                    <div fxLayout="row"
                         fxLayout.xs="column"
                         fxLayoutGap="8px">
                        <mat-form-field fxFlex="25"
                                        fxFlex.xs="100"
                                        appearance="outline"
                                        color="accent">
                            <mat-label>C</mat-label>
                            <input matInput
                                   type="number"
                                   placeholder="C mm"
                                   formControlName="vozNegativaRecordatorio">
                        </mat-form-field>
                        <mat-form-field fxFlex="25"
                                        fxFlex.xs="100"
                                        appearance="outline"
                                        color="accent">
                            <mat-label>D</mat-label>
                            <input matInput
                                   type="number"
                                   placeholder="D mm"
                                   formControlName="vozNegativaRecordatorio">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card fxLayoutGap="8px"
                  appearance="outline">
            <mat-form-field fxFlex="100"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Breve Recomendacion</mat-label>
                <input matInput
                       type="text"
                       placeholder="Ingrese recomendacion"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
        </mat-card>
        <mat-card fxLayoutGap="8px"
                  appearance="outline">
            <div fxLayout="column">
                <span style="color: green;font-weight: bold;">Presupuesto</span>
                <section class="example-section">
                    NO
                    <mat-slide-toggle #sldPresupuesto>
                    </mat-slide-toggle>
                    SI
                </section>
            </div>
            <mat-form-field fxFlex="30"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="sldPresupuesto.checked">
                <mat-label>Numero Presupuesto</mat-label>
                <input matInput
                       type="number"
                       placeholder="Presupuesto"
                       formControlName="vozNegativaRecordatorio">
            </mat-form-field>
        </mat-card>
    </div>
</mat-card>
<!-- OTROS-->
<mat-card fxLayoutGap="8px"
          *ngIf="this.form.value.idMotivo===31">
    <mat-card-title>
        B17. OTROS
    </mat-card-title>
    <div fxLayout="row">
        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Motivo del Contacto</mat-label>
            <input matInput
                   type="text"
                   placeholder="Ingrese motivo contacto"
                   formControlName="vozNegativaRecordatorio">
        </mat-form-field>
    </div>
    <div>
        <mat-label style="color: green;font-weight: bold;">Resultados</mat-label>
        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutGap="8px">
            <mat-radio-group fxLayout="column"
                             fxLayoutGap="4px"
                             formControlName="recojoTarjeta"
                             (change)="changeRecojoResult($event)">
                <mat-radio-button value="P"
                                  checked>Resultado Positivo</mat-radio-button>
                <mat-radio-button value="N"
                                  #rbtResultNeg>Resultado Negativo</mat-radio-button>
            </mat-radio-group>
            <mat-form-field fxFlex="40"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="!rbtResultNeg.checked">
                <mat-label>Voz Positiva Cliente</mat-label>
                <input matInput
                       placeholder="Ingrese Voz Positiva"
                       formControlName="vozNegativaRecojo">
            </mat-form-field>
            <mat-form-field fxFlex="40"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="rbtResultNeg.checked">
                <mat-label>Voz Negativa Cliente</mat-label>
                <input matInput
                       placeholder="Ingrese Voz Negativa"
                       formControlName="vozNegativaRecojo">
            </mat-form-field>
        </div>
    </div>
</mat-card>
