<!-- INCUMPLIMIENTO DE CITA-->
<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
  <mat-card-title>
    B10. INCUMPLIMIENTO DE CITA
  </mat-card-title>
  <div fxLayout="column"
       fxLayoutGap="8px">

    <div fxLayout="row"
         fxLayoutGap="8px"
         fxLayout.xs="column">

      <mat-form-field fxFlex="50"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Resultado Incumplimiento de Cita</mat-label>
        <mat-select placeholder="Seleccione Resultado"
                    formControlName="motivoDescripcion"
                    (selectionChange)="changeIncumplimiento()">
          <mat-option *ngFor="let i of incumplimientos"
                      [value]="i"> {{i}} </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="form.value.motivoDescripcion=='Reprogramar para el mismo día'"
           fxFlex="calc(50% - 4px)">
        <time-picker [time]="'12:00 PM'"
                     (change)="form.get('horaPosibleArribo').setValue(setHora($event))"
                     disabledInput="true"
                     placeholder="Hora Posible de Arribo"></time-picker>
      </div>

      <datetime-picker *ngIf="form.value.motivoDescripcion=='Reprogramar para otra fecha'"
                       fxFlex="calc(50% - 4px)"
                       fxFlex.xs="100"
                       [label]="'Cita Reprogramada'"
                       (change)="form.get('fechaCitaReprogramada').setValue($event)"></datetime-picker>

      <mat-form-field *ngIf="form.value.motivoDescripcion=='No volverá'"
                      fxFlex="50"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Motivo Incumplimiento de Cita</mat-label>
        <input matInput
               formControlName="razonNoCita"
               placeholder="Ingrese motivo">
      </mat-form-field>

      <mat-form-field *ngIf="form.value.motivoDescripcion=='Confusión al reservar cita'"
                      fxFlex="50"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Fecha Nuevo Contacto</mat-label>
        <input matInput
               [matDatepicker]="dpNc"
               [matDatepickerFilter]="dayFilter"
               formControlName="fechaCitaReprogramada"
               placeholder="Seleccione Fecha">
        <mat-datepicker-toggle matSuffix
                               [for]="dpNc"></mat-datepicker-toggle>
        <mat-datepicker #dpNc></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="form.value.motivoDescripcion=='Otro'"
                      fxFlex="50"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Detalle</mat-label>
        <input matInput
               formControlName="vozCliente"
               placeholder="Ingrese detalle">
      </mat-form-field>

    </div>

    <div *ngIf="form.value.motivoDescripcion=='Reprogramar para el mismo día'"
         fxLayout="row"
         fxLayoutGap="8px"
         fxLayout.xs="column">

      <mat-radio-group fxFlex="50"
                       fxLayout="column"
                       fxLayoutGap="4px"
                       formControlName="estadoCita">
        <mat-radio-button [value]="'S'">Es posible reprogramar mismo día</mat-radio-button>
        <mat-radio-button [value]="'N'">No es posible reprogramar mismo día</mat-radio-button>
      </mat-radio-group>

      <ng-container *ngIf="form.value.estadoCita=='S'">
        <div fxFlex="calc(25% - 4px)">
          <time-picker [time]="'12:00 PM'"
                       (change)="form.get('horaInicio').setValue(setHora($event))"
                       disabledInput="true"
                       placeholder="Hora Inicio"></time-picker>
        </div>
        <div fxFlex="calc(25% - 4px)">
          <time-picker [time]="'12:00 PM'"
                       (change)="form.get('horaEntrega').setValue(setHora($event))"
                       disabledInput="true"
                       placeholder="Hora Entrega"></time-picker>
        </div>
      </ng-container>

      <datetime-picker *ngIf="form.value.estadoCita=='N'"
                       fxFlex="calc(50% - 8px)"
                       fxFlex.xs="100"
                       [label]="'Nueva Cita'"
                       (change)="form.get('fechaCitaReprogramada').setValue($event)"></datetime-picker>
    </div>

    <ng-container *ngIf="form.value.motivoDescripcion=='Reprogramar para otra fecha'">

      <mat-form-field class="wd-100"
                      appearance="outline"
                      color="accent">
        <mat-label>Observación</mat-label>
        <input matInput
               formControlName="resumenContacto"
               placeholder="Ingrese Observación">
      </mat-form-field>

      <div fxLayout="row"
           fxLayoutGap="8px"
           fxLayout.xs="column">
        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Motivo Incumplimiento de Cita</mat-label>
          <input matInput
                 formControlName="razonNoCita"
                 placeholder="Ingrese motivo">
        </mat-form-field>
        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Detalle del motivo</mat-label>
          <input matInput
                 formControlName="vozCliente"
                 placeholder="Ingrese motivo">
        </mat-form-field>
      </div>
    </ng-container>

    <mat-form-field *ngIf="form.value.motivoDescripcion=='No volverá'"
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Detalle del motivo</mat-label>
      <input matInput
             formControlName="vozCliente"
             placeholder="Ingrese motivo">
    </mat-form-field>

    <mat-form-field *ngIf="form.value.motivoDescripcion=='Confusión al reservar cita'"
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Detalle confusion</mat-label>
      <input matInput
             formControlName="vozCliente"
             placeholder="Ingrese motivo">
    </mat-form-field>

  </div>
</mat-card>