:host {
  width: 100%;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.th-yellow{
  background-color: rgb(118, 197, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 214, 214);
  text-align: center;
}
.th-yellowgreen{
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 214, 214);
  text-align: center;
}
.th-thistle{
  background-color:thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 214, 214);
  text-align: center;
}
.th-tan{
  background-color:tan;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 214, 214);
  text-align: center;
}
.th-silver{
  background-color:silver;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 214, 214);
  text-align: center;
}
.th-palegreen{
  background-color:palegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 214, 214);
  text-align: center;
}
.th-title{
  color: black;
}
mat-card {
  padding: 12px;
}
h3 {
  strong {
    text-align: center;
    font-family: Exo, sans-serif;
  }
  margin: 0;
}

.scroll {
  height: calc(100vh - 216px);
}

.full-width {
  width: 100%;
}

tr.mat-row {
  height: auto;
  min-height: 48px;
}
