<!--ARRIBO DE REPUESTOS-->
<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
  <mat-card-title>
    B8. ARRIBO DE REPUESTOS
  </mat-card-title>
  <div fxLayout="column"
       fxLayoutGap="8px">

    <mat-radio-group fxLayout="row"
                     fxLayoutGap="8px"
                     formControlName="estadoCita"
                     (change)="changeRadio()">
      <mat-radio-button #rbtCitaEx
                        [value]="'E'">Cita Existente</mat-radio-button>
      <mat-radio-button #rbtCita
                        [value]="'S'">Cita Nueva</mat-radio-button>
      <mat-radio-button #rbtNoCita
                        [value]="'N'">No Agendó Cita</mat-radio-button>
    </mat-radio-group>

    <div fxLayout="row"
         fxLayoutGap="16px"
         fxLayout.xs="column">
      <datetime-picker *ngIf="form.get('estadoCita').value=='E'"
                       fxFlex="calc(50% - 16px)"
                       fxFlex.xs="100"
                       [label]="'Cita'"
                       (change)="form.get('fechaCita').setValue($event)"></datetime-picker>

      <datetime-picker *ngIf="form.get('estadoCita').value=='S'"
                       fxFlex="calc(50% - 16px)"
                       fxFlex.xs="100"
                       [label]="'Cita'"
                       (change)="form.get('fechaCita').setValue($event)"></datetime-picker>

      <datetime-picker *ngIf="form.get('estadoCita').value=='E'"
                       fxFlex="calc(50% - 16px)"
                       fxFlex.xs="100"
                       [label]="'Pactada'"
                       (change)="form.get('fechaCitaCambiada').setValue($event)"></datetime-picker>

      <mat-form-field *ngIf="form.get('estadoCita').value=='S'"
                      fxFlex="50"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Voz Cliente</mat-label>
        <input matInput
               placeholder="Ingrese Voz Cliente..."
               formControlName="vozCliente">
      </mat-form-field>

    </div>
    <mat-form-field *ngIf="form.get('estadoCita').value=='E'"
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Motivo Cita</mat-label>
      <input matInput
             placeholder="Ingrese motivo..."
             formControlName="razonModificaCita">
    </mat-form-field>

    <mat-form-field *ngIf="form.get('estadoCita').value=='N'"
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Razón no Agendó Cita</mat-label>
      <input matInput
             placeholder="Ingrese razón..."
             formControlName="razonNoCita">
    </mat-form-field>



  </div>
</mat-card>