<mat-card fxLayout="column">
    <div fxLayout="row"
        fxLayoutGap="8px">

        <mat-form-field appearance="outline"
                        color="accent"
                        fxFlex="50">
            <mat-label>Filtrar</mat-label>
            <input matInput
                   (keyup)="filtrar($event.target.value)"
                   placeholder="Ingrese valor"
                   type="text">
        </mat-form-field>

        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="8px">

            <!--<mat-form-field appearance="outline"
                            color="accent">
                <mat-label>Placa</mat-label>
                <input matInput
                       placeholder="Ingrese Placa"
                       type="text"
                       #inputPlaca
                       (keyup.enter)="loadingData || inputPlaca.value.length<6 ?null:buscar(inputPlaca.value)">
            </mat-form-field>
            <button mat-raised-button
                    color="accent"
                    [disabled]="loadingData || inputPlaca.value.length<6"
                    (click)="buscar(inputPlaca.value)">
                Buscar <mat-icon>search</mat-icon>
            </button>-->

            <button mat-mini-fab
                    color="info"
                    matTooltip="Actualizar/Borrar Búsqueda"
                    (click)="actualizar()">
                <mat-icon>refresh</mat-icon>
            </button>


            <button mat-raised-button
                    color="accent"
                    (click)="descargar()">
                Descargar <mat-icon>cloud_download</mat-icon>
            </button>

            <!-- <button mat-icon-button
                    color="warn"
                    [disabled]="loadingData || inputPlaca.value.length<6"
                    (click)="buscar(inputPlaca.value)">
                <mat-icon>search</mat-icon>
            </button> -->
        </div>
    </div>
    <hr class="full-width">
    <mat-progress-bar *ngIf="loadingData"
                      color="accent"
                      mode="indeterminate"></mat-progress-bar>
    <ng-scrollbar class="scroll"
                  [trackX]="true">
        <table mat-table
               [dataSource]="dataSource"
               matSort
               class="mat-elevation-z8">

            <ng-container matColumnDef="Nro">
                <th fxFlex="60px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Nº</span> </th>
                <td fxFlex="60px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.idContacto}} </td>
            </ng-container>

            <ng-container matColumnDef="Placa_Serie">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Placa ó Serie</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.trabajadorCorasur}} </td>
            </ng-container>

            <ng-container matColumnDef="Modelo">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Modelo</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.tipoContactot}} </td>
            </ng-container>

            <ng-container matColumnDef="Contacto">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Contacto</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.contactot}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono1">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Telefono 1</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.placa}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono2">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Telefono 2</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.cliente}} </td>
            </ng-container>

            <ng-container matColumnDef="NroContacto">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Nro de contacto para lograr cita efectiva</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.tipoContactoc}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha_EntregaUnidad">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Fecha entrega de unidad</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.contactoc}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha_EntregaPlaca">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Fecha entrega de placa</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.activo}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha_PenultCitaPactada">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Penultima fecha cita pactada</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.resultado}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha_UltCitaPactada">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Ultima fecha cita pactada</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"
                    align="right"> {{element.km}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha_SdoRecordatorioMantto">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Fecha segundo recordatorio de MANTTO</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"
                    align="center"> {{element.fechaRegistro | date:'dd/MM/yyyy, hh:mm a'}}
                </td>

            </ng-container>

            <ng-container matColumnDef="ResultPrev_FechaUltContacto">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-thistle">
                    <span class="th-title">Resultado previo - Fecha ultimo contacto</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray">{{element.fechaRetomar | date:'dd/MM/yyyy, hh:mm a'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="ResultPrev_Medio">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-thistle">
                    <span class="th-title">Resultado previo - Medio</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.motivo}} </td>
            </ng-container>
            
            <ng-container matColumnDef="ResultPrev_Resultado">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-thistle">
                    <span class="th-title">Resultado previo - Resultado</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_EfectuadaFecha">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-tan">
                    <span class="th-title">Resultado de llamada efectuada - Fecha</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_EfectuadaHora">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-tan">
                    <span class="th-title">Resultado de llamada efectuada - Hora</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_Contesta_Nocontesta">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-tan">
                    <span class="th-title">Resultado de llamada - Contesta / No contesta</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_Resultado">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-tan">
                    <span class="th-title">Resultado de llamada - Resultado</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_FechaPactoVolverLLamar">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-silver">
                    <span class="th-title">Resultado de llamada - Fecha pactada para volver a llamar</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_KmtrajeLlamada">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-silver">
                    <span class="th-title">Resultado de llamada - Kmtraje durante la llamada</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_FechaCita">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-palegreen">
                    <span class="th-title">Resultado de llamada - Fecha cita</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="ResultLLamada_Servicio">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-palegreen">
                    <span class="th-title">Resultado de llamada - Servicio</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </ng-scrollbar>
    <!--<table>
        <tr>
           <td colspan="3">Indicadores Permanentes durante el día:</td>
        </tr>
        <tr style="display: flex;">
           <td>Ratio</td><td>1K</td><td>Recup. 1K</td>
        </tr>
        <tr>
           <td>BD Agenda del dia</td><td>Garcia</td><td>123456789</td>
        </tr>
        <tr>
           <td>Clientes llamados</td><td>Sanchez</td><td>234567890</td>
        </tr>
        <tr>
           <td>Clientes contactados</td><td>Fernandez</td><td>345678901</td>
        </tr>
        <tr>
            <td>Citas pactadas</td><td>Fernandez</td><td>345678901</td>
         </tr>
         <tr>
            <td>Citas atendidas</td><td>Fernandez</td><td>345678901</td>
         </tr>
         <tr>
            <td>Citas icumplidas</td><td>Fernandez</td><td>345678901</td>
         </tr>
     </table>-->
</mat-card>