<mat-card>
  <mat-card-content fxLayout="column">

    <div fxLayout="row"
         fxLayoutGap="8px"
         fxLayoutAlign="space-between center">

      <mat-form-field appearance="outline"
                      color="accent"
                      fxFlex="50">
        <mat-label>Filtrar</mat-label>
        <input matInput
               (keyup)="filtrar($event.target.value)"
               placeholder="Ingrese valor"
               type="text">
      </mat-form-field>


      <mat-form-field appearance="outline"
                      color="accent">
        <mat-label>Fecha</mat-label>
        <input matInput
               readonly
               placeholder="Seleccione Fecha"
               [matDatepicker]="dpFecha"
               [matDatepickerFilter]="dayFilter"
               [(ngModel)]="fecha">
        <mat-datepicker-toggle matSuffix
                               [for]="dpFecha"></mat-datepicker-toggle>
        <mat-datepicker #dpFecha></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="listar()"
              [disabled]="loading">
        <ng-container *ngIf="loading; else elseTemplate">
          Consultando...
        </ng-container>
        <ng-template #elseTemplate>
          Consultar <mat-icon>search </mat-icon>
        </ng-template>
      </button>

      <button mat-raised-button
              color="accent"
              (click)="descargar()">
        Descargar <mat-icon>cloud_download</mat-icon>
      </button>

    </div>

    <table-container [heightSub]="250" [loading]="loading"
                     class="table-bordered">

      <mat-table class="mat-table" [dataSource]="data">

        <ng-container *ngFor="let column of metadata.columnDef"
                      [cdkColumnDef]="column.property">
          <mat-header-cell *cdkHeaderCellDef
                           fxLayoutAlign="{{column.align}} center"
                           [fxFlex]="column.width?column.width:''"
                           [style.background-color]="column.background">
            {{column.title}}
          </mat-header-cell>

          <mat-cell *cdkCellDef="let e" fxLayoutAlign="{{column.align}} center"
                    [fxFlex]="column.width?column.width:''">
            {{e[column.property]}}
          </mat-cell>
        </ng-container>


        <mat-header-row *cdkHeaderRowDef="displayColumns; sticky:true">
        </mat-header-row>
        <mat-row class="hover pointer"
                 *cdkRowDef="let row; columns: displayColumns;"
                 (click)="selectRow(row)"></mat-row>
      </mat-table>

    </table-container>

    <mat-paginator [fxShow]="data.data.length>10"
                   [pageSizeOptions]="[20, 40, 80]"
                   showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>
