:host {
  width: 100%;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card {
  padding: 12px;
}
h3 {
  strong {
    text-align: center;
    font-family: Exo, sans-serif;
  }
  margin: 0;
}

.scroll {
  height: calc(100vh - 216px);
}

.full-width {
  width: 100%;
}

tr.mat-row {
  height: auto;
  min-height: 48px;
}

tr.mat-header-row {
  height: 30px;
}
