<mat-card fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <h3 class="cl-primary">
      <strong>Relacion de Entrega de Unidades Nuevas</strong>
    </h3>
  </div>
  <hr class="full-width" />
  <mat-progress-bar
    *ngIf="loadingData"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>
  <ng-scrollbar class="scroll" [trackX]="true">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="idVehiculoEntrega">
        <th fxFlex="60px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Id</span>
        </th>
        <td
          fxFlex="60px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.idVehiculoEntrega }}
        </td>
      </ng-container>

      <ng-container matColumnDef="serie">
        <th fxFlex="80px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Serie</span>
        </th>
        <td
          fxFlex="80px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.serie }}
        </td>
      </ng-container>

      <ng-container matColumnDef="motor">
        <th fxFlex="100px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Motor</span>
        </th>
        <td
          fxFlex="100px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.motor }}
        </td>
      </ng-container>

      <ng-container matColumnDef="chasis">
        <th fxFlex="150px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Chasis</span>
        </th>
        <td
          fxFlex="150px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.chasis }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vin">
        <th fxFlex="155px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Vin</span>
        </th>
        <td
          fxFlex="155px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.vin }}
        </td>
      </ng-container>

      <ng-container matColumnDef="anioFabricacion">
        <th fxFlex="100px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Año Fabricación</span>
        </th>
        <td
          fxFlex="100px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.anioFabricacion }}
        </td>
      </ng-container>

      <ng-container matColumnDef="personaEntrega">
        <th fxFlex="216px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Persona Entrega</span>
        </th>
        <td
          fxFlex="216px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.personaEntrega }}
        </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th fxFlex="100px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Teléfono 1</span>
        </th>
        <td
          fxFlex="100px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.telefono }}
        </td>
      </ng-container>

      <ng-container matColumnDef="celular">
        <th fxFlex="100px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Teléfono 2</span>
        </th>
        <td
          fxFlex="100px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.celular }}
        </td>
      </ng-container>

      <ng-container matColumnDef="opinionEntrega">
        <th fxFlex="250px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Opinión Entrega</span>
        </th>
        <td
          fxFlex="250px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.opinionEntrega }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaEntregaVehiculo">
        <th
          fxFlex="180px"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          style="text-align:center;"
        >
          <span class="cl-info">Fecha Entrega Vehículo</span>
        </th>
        <td
          fxFlex="180px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
          align="center"
        >
          {{ element.fechaEntregaVehiculo | date: 'dd/MM/yyyy, hh:mm a' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fechaCitaReferencial2">
        <th fxFlex="180px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Fecha Cita 1k Referencial</span>
        </th>
        <td
          fxFlex="180px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.fechaCitaReferencial2 | date: 'dd/MM/yyyy, hh:mm a' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <th fxFlex="160px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Motivo</span>
        </th>
        <td
          fxFlex="160px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.motivo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th fxFlex="160px" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="cl-info">Estado Contacto</span>
        </th>
        <td
          fxFlex="160px"
          mat-cell
          *matCellDef="let element"
          class="fs-11 cl-gray"
        >
          {{ element.estado }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </ng-scrollbar>
</mat-card>
