<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
  <mat-card-title>
    B1. AGRADECIMIENTO DE COMPRA
  </mat-card-title>
  <mat-card-content fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="16px">

    <mat-radio-group fxLayoutGap="16px"
                     formControlName="estadoContacto">
      <mat-radio-button value="P"
                        checked
                        #rbP>Resultado Positivo</mat-radio-button>
      <mat-radio-button value="N">Resultado Negativo</mat-radio-button>
    </mat-radio-group>

    <mat-form-field fxFlex
                    appearance="outline"
                    color="accent">
      <mat-label> {{rbP.checked?'Voz Positiva Cliente':'Voz Negativa Cliente'}}</mat-label>
      <input matInput
             placeholder="{{rbP.checked?'Ingrese voz positiva':'Ingrese voz negativa'}}"
             formControlName="vozCliente">
    </mat-form-field>

  </mat-card-content>
</mat-card>