<!--OTROS-->
<mat-card fxLayoutGap="8px"
          [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B17. OTROS
    </mat-card-title>
    <div fxLayout="row">
        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Motivo del Contacto</mat-label>
            <input matInput
                   type="text"
                   placeholder="Ingrese motivo contacto"
                   formControlName="otro">
        </mat-form-field>
    </div>
    <div>
        <mat-label style="color: green;font-weight: bold;">Resultados</mat-label>
        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutGap="8px">
            <mat-radio-group fxLayout="column"
                             fxLayoutGap="4px"
                             formControlName="estadoContacto"
                             (change)="changeRecojoResult($event)">
                <mat-radio-button value="P"
                                  checked>Resultado Positivo</mat-radio-button>
                <mat-radio-button value="N"
                                  #rbtResultNeg>Resultado Negativo</mat-radio-button>
            </mat-radio-group>
            <mat-form-field fxFlex="40"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            >
                <mat-label *ngIf="!rbtResultNeg.checked">Voz Positiva Cliente</mat-label>
                <mat-label *ngIf="rbtResultNeg.checked">Voz Negativa Cliente</mat-label>
                <input matInput
                       placeholder="Ingrese Voz Positiva"
                       formControlName="vozCliente">
            </mat-form-field>
        </div>
    </div>
</mat-card>