<mat-card>
  <mat-card-header>
    <mat-card-title>Servicio</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column"
                    fxLayoutGap="4px">

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkMantto
                    (change)="changeServicio(chkMantto.checked,'Mantenimiento')">
        Mantenimiento
      </mat-checkbox>
      <mat-slider fxFlex
                  [disabled]="!chkMantto.checked"
                  #sliderKm
                  value="0"
                  min="0"
                  max="150"
                  thumbLabel
                  tickInterval="5"
                  step="5"
                  tick-interval="5"
                  [(ngModel)]="mantenimiento">
      </mat-slider>
      <span>{{sliderKm.value}} K <strong>{{sliderKm.value==150?'+':''}}</strong></span>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkDiagnostico
                    (change)="changeServicio(chkDiagnostico.checked,'Diagnóstico')">
        Diagnóstico
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Detalle del Síntoma</mat-label>
        <input matInput
               [disabled]="!chkDiagnostico.checked"
               placeholder="Ingrese detalle del Síntoma"
               [(ngModel)]="diagnostico">
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkReparacion
                    (change)="changeServicio(chkReparacion.checked,'Reparación')">
        Reparación
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Detalle del Síntoma</mat-label>
        <input matInput
               [disabled]="!chkReparacion.checked"
               placeholder="Ingrese detalle del Síntoma"
               [(ngModel)]="reparacion">
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkCampana
                    (change)="changeServicio(chkCampana.checked,'Campaña')">
        Campaña
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Campaña</mat-label>

        <mat-select placeholder="Seleccione Campaña"
                    [disabled]="!chkCampana.checked"
                    [(ngModel)]="campania">
          <mat-option *ngFor="let c of campanias"
                      [value]="c"> {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkByP
                    (change)="changeServicio(chkByP.checked,'B & P')">
        B & P
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Detalle B&P</mat-label>
        <input matInput
               [disabled]="!chkByP.checked"
               placeholder="Ingrese detalle B&P"
               [(ngModel)]="byp">
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkGarantia
                    (change)="changeServicio(chkGarantia.checked,'Garantía')">
        Garantía
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Detalle Garantia</mat-label>
        <input matInput
               placeholder="Ingrese detalle Garantias"
               [disabled]="!chkGarantia.checked"
               [(ngModel)]="garantia">
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkSsc
                    (change)="changeServicio(chkSsc.checked,'SSC')">
        SSC
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Detalle SSC</mat-label>
        <input matInput
               placeholder="Ingrese el detalle SSC"
               [disabled]="!chkSsc.checked"
               [(ngModel)]="ssc">
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkInsAccesorio
                    (change)="changeServicio(chkInsAccesorio.checked,'Instalación Accesorio')">
        Instalación Accesorio
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Instalacion de Accesorios</mat-label>
        <input matInput
               placeholder="Especifique Accesorios"
               [disabled]="!chkInsAccesorio.checked"
               [(ngModel)]="insAccesorio">
      </mat-form-field>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="start center"
         class="wd-100">
      <mat-checkbox fxFlex="230px"
                    #chkOtro
                    (change)="changeServicio(chkOtro.checked,'Otro')">
        Otro
      </mat-checkbox>
      <mat-form-field fxFlex
                      appearance="outline"
                      color="accent">
        <mat-label>Otros</mat-label>
        <input matInput
               placeholder="Especifique Servicio"
               [disabled]="!chkOtro.checked"
               [(ngModel)]="otro">
      </mat-form-field>
    </div>

  </mat-card-content>
</mat-card>