<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate
          fxLayout="column"
          fxLayoutGap="8px">
  <mat-progress-bar *ngIf="pendienteBuscar"
                    color="accent"
                    mode="indeterminate"></mat-progress-bar>

  <div class="wd-100"
       fxLayout="row"
       fxLayoutAlign="space-around center"
       fxLayoutGap="8px"
       fxLayout.xs="column">
    <mat-form-field fxFlex="25"
                    fxFlex.xs
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Placa o Serie</mat-label>
      <input matInput
             placeholder="Ingrese Placa o Serie"
             minlength="6"
             maxlength="6"
             type="text"
             [(ngModel)]="inputSP"
             [ngModelOptions]="{standalone: true}"
             #inputPlacaSerie
             (keyup.enter)="pendienteBuscar || inputPlacaSerie.value.length<6 ?null:buscarSeriePlaca(inputPlacaSerie.value,inputModelo,$event)">
    </mat-form-field>
    <button fxFlex="25"
            mat-raised-button
            color="accent"
            (click)="buscarSeriePlaca(inputPlacaSerie.value,inputModelo,$event)"
            type="button"
            [disabled]="pendienteBuscar || inputPlacaSerie.value.length<6">
      <mat-icon>search</mat-icon>
      <span [ngClass.xs]="'hide'">BUSCAR PLACA/SERIE</span>
    </button>

    <button fxFlex="25"
            mat-raised-button
            color="warning"
            (click)="buscarOrdenServicio(inputPlacaSerie.value,inputModelo,$event)"
            type="button"
            [disabled]="pendienteBuscar || inputPlacaSerie.value.length<6">
      <mat-icon>list_alt</mat-icon>
      <span [ngClass.xs]="'hide'">HISTORIAL SERVICIOS</span>
    </button>

    <button fxFlex="25"
            mat-raised-button
            color="warning"
            (click)="verHistorialContactos(inputPlacaSerie.value,inputModelo,$event)"
            type="button"
            [disabled]="pendienteBuscar || inputPlacaSerie.value.length<6">
      <mat-icon>assignment</mat-icon>
      <span [ngClass.xs]="'hide'">HISTORIAL CONTACTOS</span>
    </button>

  </div>

  <div fxLayout="row"
       fxLayoutGap="8px"
       fxLayout.xs="column">

    <mat-form-field fxFlex="18"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Serie</mat-label>
      <input matInput
             readonly
             (blur)="onBlur('serie')"
             formControlName="serie">
    </mat-form-field>

    <mat-form-field fxFlex="18"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Placa</mat-label>
      <input matInput
             readonly
             (blur)="onBlur('placa')"
             formControlName="placa">
    </mat-form-field>

    <mat-form-field fxFlex="23"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>VIN</mat-label>
      <input matInput
             readonly
             formControlName="vin">
    </mat-form-field>

    <mat-form-field fxFlex="18"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Año de Fabricación</mat-label>
      <input matInput
             readonly
             formControlName="anioFabricacion">
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Modelo</mat-label>
      <input matInput
             placeholder="Ingrese modelo"
             formControlName="modelo"
             #inputModelo>
    </mat-form-field>
  </div>

  <div fxLayout="row"
       fxLayoutGap="8px"
       fxLayout.xs="column">
    <mat-form-field fxFlex="50"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Nombre Trabajador Corasur</mat-label>
      <input matInput
             readonly
             value="{{usuario.nombreCompleto}}">
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Tipo Comunicación</mat-label>
      <mat-select placeholder="Seleccione Valor"
                  formControlName="tipoContactoCorasur"
                  #tc
                  required>
        <mat-option value="Email">Email</mat-option>
        <mat-option value="Teléfono"
                    selected>Teléfono</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Email o Teléfono</mat-label>
      <input matInput
             placeholder="Ingrese {{tc.value}}"
             formControlName="contactoCorasur"
             required>
    </mat-form-field>

  </div>

  <div fxLayout="row"
       fxLayoutGap="8px"
       fxLayout.xs="column">
    <mat-form-field fxFlex="40"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Nombre Cliente</mat-label>
      <input matInput
             placeholder="Ingrese Nombre"
             formControlName="cliente">
    </mat-form-field>

    <mat-form-field fxFlex="20"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Tipo Comunicación</mat-label>
      <mat-select placeholder="Seleccione Valor"
                  formControlName="tipoContactoCliente"
                  #tcc
                  required>
        <mat-option value="Email">Email</mat-option>
        <mat-option value="Teléfono"
                    selected>Teléfono</mat-option>
        <mat-option value="Dirección Física">Dirección Física</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="20"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Email/Teléfono/Dirección</mat-label>
      <input matInput
             placeholder="Ingrese {{tcc.value}}"
             formControlName="contactoCliente"
             required>
    </mat-form-field>
    <mat-form-field fxFlex="20"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Teléfono 2</mat-label>
      <input matInput
             placeholder="Ingrese Télefono 2"
             formControlName="telefono2">
    </mat-form-field>
  </div>
</mat-card>