<mat-card fxLayout="column">
    <div fxLayout="row"
        fxLayoutGap="8px">

        <mat-form-field appearance="outline"
                        color="accent"
                        fxFlex="50">
            <mat-label>Filtrar</mat-label>
            <input matInput
                   (keyup)="filtrar($event.target.value)"
                   placeholder="Ingrese valor"
                   type="text">
        </mat-form-field>

        <div fxLayout="row"
             fxLayoutAlign="center center"
             fxLayoutGap="8px">

            <!--<mat-form-field appearance="outline"
                            color="accent">
                <mat-label>Placa</mat-label>
                <input matInput
                       placeholder="Ingrese Placa"
                       type="text"
                       #inputPlaca
                       (keyup.enter)="loadingData || inputPlaca.value.length<6 ?null:buscar(inputPlaca.value)">
            </mat-form-field>
            <button mat-raised-button
                    color="accent"
                    [disabled]="loadingData || inputPlaca.value.length<6"
                    (click)="buscar(inputPlaca.value)">
                Buscar <mat-icon>search</mat-icon>
            </button>-->

            <button mat-mini-fab
                    color="info"
                    matTooltip="Actualizar/Borrar Búsqueda"
                    (click)="actualizar()">
                <mat-icon>refresh</mat-icon>
            </button>


            <button mat-raised-button
                    color="accent"
                    (click)="descargar()">
                Descargar <mat-icon>cloud_download</mat-icon>
            </button>

            <!-- <button mat-icon-button
                    color="warn"
                    [disabled]="loadingData || inputPlaca.value.length<6"
                    (click)="buscar(inputPlaca.value)">
                <mat-icon>search</mat-icon>
            </button> -->
        </div>
    </div>
    <hr class="full-width">
    <mat-progress-bar *ngIf="loadingData"
                      color="accent"
                      mode="indeterminate"></mat-progress-bar>
    <ng-scrollbar class="scroll"
                  [trackX]="true">
        <table mat-table
               [dataSource]="dataSource"
               matSort
               class="mat-elevation-z8">

            <ng-container matColumnDef="Nro">
                <th fxFlex="60px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Nº</span> </th>
                <td fxFlex="60px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.idContacto}} </td>
            </ng-container>

            <ng-container matColumnDef="Placa">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Placa</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.trabajadorCorasur}} </td>
            </ng-container>

            <ng-container matColumnDef="Asesor">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Asesor de servicio</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.tipoContactot}} </td>
            </ng-container>

            <ng-container matColumnDef="Contacto">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Persona de contacto</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.contactot}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono1">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Telefono 1</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.placa}} </td>
            </ng-container>

            <ng-container matColumnDef="Telefono2">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Telefono 2</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.cliente}} </td>
            </ng-container>

            <ng-container matColumnDef="ServicioPactadoCita">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellow"><span class="th-title">Servicio pactado en la cita</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.tipoContactoc}} </td>
            </ng-container>

            <ng-container matColumnDef="Hora_Programada">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Hora - Programada para entrega en la cita</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.contactoc}} </td>
            </ng-container>

            <ng-container matColumnDef="Hora_Apertura">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Hora - Apertura OT</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.activo}} </td>
            </ng-container>

            <ng-container matColumnDef="Hora_Inicio">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Hora - Inicio Mecánico</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.resultado}} </td>
            </ng-container>

            <ng-container matColumnDef="Hora_Fin">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-yellowgreen"><span class="th-title">Hora - Fin Mecánico</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"
                    align="right"> {{element.km}} </td>
            </ng-container>

            <ng-container matColumnDef="Trabajo_Adicional">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-thistle">
                    <span class="th-title">Trabajo adicional</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray">{{element.fechaRetomar | date:'dd/MM/yyyy, hh:mm a'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Numero_monto">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-thistle">
                    <span class="th-title">Número de ppto y monto</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.motivo}} </td>
            </ng-container>
            
            <ng-container matColumnDef="FechaYHora_Llamada">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-thistle">
                    <span class="th-title">Fecha y Hora de llamada de Notificación Trabajo adicional</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="Resultados_Contesta_Nocontesta">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-tan">
                    <span class="th-title">Resultados - Contesta / No contesta</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="Resultados_Acepta">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-tan">
                    <span class="th-title">Resultados - Acpeta adicional</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="Resultados_FechaYHora">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-silver">
                    <span class="th-title">Resultados - Fecha y hora nueva entrega</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <ng-container matColumnDef="VozCliente">
                <th fxFlex="150px"
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="th-palegreen">
                    <span class="th-title">Voz Cliente</span>
                </th>
                <td fxFlex="150px"
                    mat-cell
                    *matCellDef="let element"
                    class="fs-11 cl-gray"> {{element.Respuesta}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </ng-scrollbar>
    <!--<table>
        <tr>
           <td colspan="3">Indicadores Permanentes durante el día:</td>
        </tr>
        <tr style="display: flex;">
           <td>Ratio</td><td>1K</td><td>Recup. 1K</td>
        </tr>
        <tr>
           <td>BD Agenda del dia</td><td>Garcia</td><td>123456789</td>
        </tr>
        <tr>
           <td>Clientes llamados</td><td>Sanchez</td><td>234567890</td>
        </tr>
        <tr>
           <td>Clientes contactados</td><td>Fernandez</td><td>345678901</td>
        </tr>
        <tr>
            <td>Citas pactadas</td><td>Fernandez</td><td>345678901</td>
         </tr>
         <tr>
            <td>Citas atendidas</td><td>Fernandez</td><td>345678901</td>
         </tr>
         <tr>
            <td>Citas icumplidas</td><td>Fernandez</td><td>345678901</td>
         </tr>
     </table>-->
</mat-card>