<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B2. RECOJO DE TARJETA Y/O PLACA
    </mat-card-title>
    <div fxLayout="row"
         fxLayoutGap="16px"
         fxLayout.xs="column"
         fxLayoutAlign="start center">

        <mat-form-field fxFlex="25"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Recojo</mat-label>
            <mat-select placeholder="Seleccione Item"
                        formControlName="motivoDescripcion"
                        required
                        #selrecojo>
                <mat-option value="Recojo Tarjeta">Recojo Tarjeta</mat-option>
                <mat-option value="Recojo Placa">Recojo Placa</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-radio-group fxLayout="column"
                         fxLayoutGap="8px"
                         formControlName="estadoContacto">
            <mat-radio-button value="P"
                              checked>Resultado Positivo</mat-radio-button>
            <mat-radio-button value="N"
                              #rbtResultNeg>Resultado Negativo</mat-radio-button>
        </mat-radio-group>

        <mat-form-field fxFlex
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Cuándo Recogerá Documento</mat-label>
            <input matInput
                   [matDatepicker]="pickerRecojo"
                   [matDatepickerFilter]="dayFilter"
                   formControlName="fechaRecojoDocumento"
                   placeholder="Seleccione Fecha">
            <mat-datepicker-toggle matSuffix
                                   [for]="pickerRecojo"></mat-datepicker-toggle>
            <mat-datepicker #pickerRecojo></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="25"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent"
                        *ngIf="rbtResultNeg.checked">
            <mat-label>Voz Negativa Cliente</mat-label>
            <input matInput
                   placeholder="Ingrese Voz Negativa"
                   formControlName="vozCliente">
        </mat-form-field>

    </div>
</mat-card>