<mat-card>
  <mat-card-title>
    Agenda
  </mat-card-title>
  <mat-card-content fxLayoutAlign="center stretch">

    <mat-radio-group fxLayoutGap="16px">
      <mat-radio-button value="S"
                        checked
                        #rbP
                        (change)="changeValue('S')">Agendó Cita</mat-radio-button>
      <mat-radio-button value="N"
                        (change)="changeValue('N')">No Agendó Cita</mat-radio-button>
    </mat-radio-group>

  </mat-card-content>
</mat-card>