<!-- RECOMENDACIONES EFECTUADAS POR MECANICO Y/O ASESOR DE SERVICIO-->
<mat-card fxLayoutGap="8px"
          [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B16. RECOMENDACIONES MECÁNICO / ASESOR DE SERVICIO
    </mat-card-title>
    <mat-card-content fxLayoutGap="8px"
                      fxLayout="column">

        <mat-card appearance="outline">
            <mat-card-title>
                Asesor de Servicio
            </mat-card-title>
            <div fxLayout="column"
                 fxLayoutGap="8px">
                <div fxLayout="row"
                     fxLayoutGap="8px">
                    <mat-form-field fxFlex="25"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Número OT</mat-label>
                        <input matInput
                               formControlName="numeroOt"
                               placeholder="Ingrese Nro OT">
                    </mat-form-field>
                    <mat-form-field fxFlex="25"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Servicio</mat-label>
                        <input matInput
                               formControlName="motivoDescripcion"
                               placeholder="Ingrese Servicio">
                    </mat-form-field>
                    <mat-form-field fxFlex="50"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Asesor</mat-label>
                        <input matInput
                               formControlName="personaModificaCita"
                               placeholder="Ingrese Nombre">
                    </mat-form-field>

                </div>

                <div fxLayout="row"
                     fxLayoutGap="8px">
                    <mat-form-field fxFlex="calc(50% + 8px)"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Nombre Contacto</mat-label>
                        <input matInput
                               formControlName="nuevoDuenio"
                               placeholder="Ingrese Nombre">
                    </mat-form-field>
                    <mat-form-field fxFlex="50"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Teléfono</mat-label>
                        <input matInput
                               formControlName="telefonoNuevoDuenio"
                               placeholder="Ingrese Teléfono">
                    </mat-form-field>
                </div>

                <div fxLayout="row"
                     fxLayoutGap="8px">

                    <div fxFlex="25">
                        <time-picker [time]="'12:00 PM'"
                                     (change)="form.get('horaInicio').setValue(setHora($event))"
                                     disabledInput="true"
                                     placeholder="Hora Inicio Recepción"></time-picker>
                    </div>
                    <div fxFlex="25">
                        <time-picker [time]="'12:00 PM'"
                                     (change)="form.get('horaEntrega').setValue(setHora($event))"
                                     disabledInput="true"
                                     placeholder="Hora Fin Recepción"></time-picker>
                    </div>
                </div>

                <div fxLayout="row"
                     fxLayoutGap="8px"
                     fxLayout.xs="column">
                    <div fxFlex="25">
                        <time-picker [time]="'12:00 PM'"
                                     (change)="form.get('horaPosibleArribo').setValue(setHora($event))"
                                     disabledInput="true"
                                     placeholder="Hora Programada"></time-picker>
                    </div>
                    <div fxFlex="25">
                        <time-picker [time]="'12:00 PM'"
                                     (change)="form.get('fechaPactadaProxLlamada').setValue(setHora($event))"
                                     disabledInput="true"
                                     placeholder="Hora Pactada Entrega"></time-picker>
                    </div>
                    <mat-form-field fxFlex="50"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Motivo Cambio Hora</mat-label>
                        <input matInput
                               formControlName="razonModificaCita"
                               placeholder="Ingrese Razón">
                    </mat-form-field>
                </div>

                <div fxLayout="row"
                     fxLayoutGap="8px">
                    <mat-form-field fxFlex="calc(50% + 8px)"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Recomendaciones B&P</mat-label>
                        <input matInput
                               formControlName="detalleCita"
                               placeholder="Ingrese Recomendación">
                    </mat-form-field>
                    <mat-form-field fxFlex="50"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Presupuesto B&P</mat-label>
                        <input matInput
                               formControlName="razonNoCita"
                               placeholder="Ingrese Presupuesto">
                    </mat-form-field>
                </div>

            </div>
        </mat-card>



        <mat-card fxLayoutGap="8px"
                  appearance="outline">
            <mat-card-title>
                Mecánico
            </mat-card-title>
            <div fxLayout="column"
                 fxLayoutGap="8px">
                <div fxLayout="row"
                     fxLayoutGap="8px">
                    <mat-form-field fxFlex="50"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Nombre Mecánico</mat-label>
                        <input matInput
                               formControlName="resumenContacto"
                               placeholder="Ingrese Nombre">
                    </mat-form-field>
                    <div fxFlex="25">
                        <time-picker [time]="'12:00 PM'"
                                     (change)="form.get('fechaCitaCambiada').setValue(setHora($event))"
                                     disabledInput="true"
                                     placeholder="Hora Inicio Producción"></time-picker>
                    </div>
                    <div fxFlex="25">
                        <time-picker [time]="'12:00 PM'"
                                     (change)="form.get('fechaCitaReprogramada').setValue(setHora($event))"
                                     disabledInput="true"
                                     placeholder="Hora Fin Producción"></time-picker>
                    </div>
                </div>

                <mat-card>
                    <mat-card-title>
                        Estado Pastillas / Fajas
                    </mat-card-title>
                    <div fxLayout="row"
                         fxLayoutGap="8px">
                        <div fxflex="50">
                            <mat-label style="color: green;font-weight: bold;">Delanteras</mat-label>
                            <div fxLayout="row"
                                 fxLayout.xs="column"
                                 fxLayoutGap="8px">
                                <mat-form-field fxFlex="50"
                                                fxFlex.xs="100"
                                                appearance="outline"
                                                color="accent">
                                    <mat-label>A</mat-label>
                                    <input matInput
                                           placeholder="A mm"
                                           formControlName="aFreno">
                                </mat-form-field>
                                <mat-form-field fxFlex="50"
                                                fxFlex.xs="100"
                                                appearance="outline"
                                                color="accent">
                                    <mat-label>B</mat-label>
                                    <input matInput
                                           placeholder="B mm"
                                           formControlName="bFreno">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxflex="50">
                            <mat-label style="color: green;font-weight: bold;">Posteriores</mat-label>
                            <div fxLayout="row"
                                 fxLayout.xs="column"
                                 fxLayoutGap="8px">
                                <mat-form-field fxFlex="50"
                                                fxFlex.xs="100"
                                                appearance="outline"
                                                color="accent">
                                    <mat-label>C</mat-label>
                                    <input matInput
                                           placeholder="C mm"
                                           formControlName="cFreno">
                                </mat-form-field>
                                <mat-form-field fxFlex="50"
                                                fxFlex.xs="100"
                                                appearance="outline"
                                                color="accent">
                                    <mat-label>D</mat-label>
                                    <input matInput
                                           placeholder="D mm"
                                           formControlName="dFreno">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                </mat-card>

                <div fxLayout="row"
                     fxLayoutGap="8px">
                    <mat-form-field fxFlex="20"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Nivel Presión Neumáticos</mat-label>
                        <input matInput
                               type="text"
                               placeholder="Ingrese Nivel Presión"
                               formControlName="usoVehicular">
                    </mat-form-field>
                    <mat-form-field fxFlex="60"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Recomendaciones Uso</mat-label>
                        <input matInput
                               type="text"
                               placeholder="Ingrese Recomendación"
                               formControlName="vozCliente">
                    </mat-form-field>
                    <mat-form-field fxFlex="20"
                                    fxFlex.xs="100"
                                    appearance="outline"
                                    color="accent">
                        <mat-label>Presupuesto</mat-label>
                        <input matInput
                               type="text"
                               placeholder="Presupuesto"
                               formControlName="vozCliente">
                    </mat-form-field>
                </div>
            </div>

        </mat-card>


        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">
            <div fxFlex="calc(25% - 6px)">
                <time-picker [time]="'12:00 PM'"
                             (change)="form.get('fechaLimiteLlamada').setValue(setHora($event))"
                             disabledInput="true"
                             placeholder="Hora Inicio Lavado"></time-picker>
            </div>
            <div fxFlex="calc(25% - 6px)">
                <time-picker [time]="'12:00 PM'"
                             (change)="form.get('fechaPronosticoProxLlamada').setValue(setHora($event))"
                             disabledInput="true"
                             placeholder="Hora Fin Lavado"></time-picker>
            </div>
            <div fxFlex="calc(25% - 6px)">
                <time-picker [time]="'12:00 PM'"
                             (change)="form.get('fechaSugeridaClienteProxLlamada').setValue(setHora($event))"
                             disabledInput="true"
                             placeholder="Hora Inicio Entrega"></time-picker>
            </div>
            <div fxFlex="calc(25% - 6px)">
                <time-picker [time]="'12:00 PM'"
                             (change)="form.get('fechaCorregidaSistemaProxLlamada').setValue(setHora($event))"
                             disabledInput="true"
                             placeholder="Hora Fin Entrega"></time-picker>
            </div>
        </div>

    </mat-card-content>
</mat-card>