<!-- APROBACION DE PRESUPUESTO ADICIONAL-->
<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B11. APROBACIÓN DE PRESUPUESTO ADICIONAL
    </mat-card-title>

    <div fxLayout="column"
         fxLayoutGap="8px">

        <mat-form-field class="wd-100"
                        appearance="outline"
                        color="accent">
            <mat-label>Resultado de Aprobación</mat-label>
            <mat-select placeholder="Seleccione Resultado"
                        formControlName="motivoDescripcion"
                        (selectionChange)="changeSelect()">
                <mat-option *ngFor="let a of aprobaciones"
                            [value]="a"> {{a}} </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Nro Presupuesto</mat-label>
                <input matInput
                       formControlName="numeroOt"
                       placeholder="Ingrese Nro Presupuesto">
            </mat-form-field>

            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Monto</mat-label>
                <input matInput
                       formControlName="aFreno"
                       placeholder="Ingrese Monto">
            </mat-form-field>
        </div>

        <div *ngIf="form.get('motivoDescripcion').value=='Acepta la reparación adicional conforme con la nueva fecha propuesta'"
             fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">

            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Motivo Aceptación Conforme</mat-label>
                <input matInput
                       formControlName="razonNoCita"
                       placeholder="Ingrese Motivo">
            </mat-form-field>
            <datetime-picker fxFlex="calc(50% - 4px)"
                             fxFlex.xs="100"
                             [label]="'Programada'"
                             (change)="form.get('fechaCitaCambiada').setValue($event)"></datetime-picker>
        </div>

        <div *ngIf="form.get('motivoDescripcion').value=='Acepta la reparación adicional inconforme con la nueva fecha propuesta'"
             fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">

            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Voz Cliente Negativa</mat-label>
                <input matInput
                       formControlName="vozCliente"
                       placeholder="Ingrese Voz Cliente Negativa">
            </mat-form-field>
            <datetime-picker fxFlex="calc(50% - 4px)"
                             fxFlex.xs="100"
                             [label]="'Programada'"
                             (change)="form.get('fechaCitaCambiada').setValue($event)"></datetime-picker>
        </div>

        <mat-form-field *ngIf="form.get('motivoDescripcion').value=='No acepta la reparación adicional por motivos propios'"
                        appearance="outline"
                        color="accent">
            <mat-label>Motivo No Aceptación</mat-label>
            <input matInput
                   formControlName="razonNoCita"
                   placeholder="Ingrese Motivo no Aceptación">
        </mat-form-field>

        <mat-form-field *ngIf="form.get('motivoDescripcion').value=='No acepta la reparación adicional inconforme'"
                        appearance="outline"
                        color="accent">
            <mat-label>Voz Cliente Negativa</mat-label>
            <input matInput
                   formControlName="vozCliente"
                   placeholder="Ingrese Voz Cliente Negativa">
        </mat-form-field>

    </div>
</mat-card>