<nav class="docs-navbar-header">
  <button fxHide.gt-xs
          mat-icon-button
          (click)="clickMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button
     routerLink="/">
    <img class="logo"
         src="assets/logo-footer.png"
         alt="logo">
    <!-- <span fxHide.lt-sm>Contactos</span> -->
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/llamar-cliente">
    <mat-icon>phone_in_talk</mat-icon>
    <span>Llamada a Cliente</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/contestar-llamada">
    <mat-icon>phone_forwarded</mat-icon>
    <span>Llamada Del Cliente</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/historial">
    <mat-icon>assignment</mat-icon>
    <span>Historial de Contactos</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/reporte">
    <mat-icon mdListIcon>pie_chart</mat-icon>
    <span>Reporte</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/entrega-unidad">
    <mat-icon mdListIcon>drive_eta</mat-icon>
    <span>Entrega de Unidades Nuevas</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/historial-entrega-unidad">
    <mat-icon mdListIcon>list_alt</mat-icon>
    <span>Relacion de Unidades Entregadas</span>
  </a>

  <a fxHide.lt-sm
     mat-button
     routerLink="/gestion-voz-negativa">
    <mat-icon mdListIcon>mic_off</mat-icon>
    <span>Gestion de Voz Negativa</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/agenda">
    <mat-icon mdListIcon>event_note</mat-icon>
    <span>Agenda</span>
  </a>
  <a fxHide.lt-sm
     mat-button
     routerLink="/pronostico5k">
    <mat-icon mdListIcon>trending_up</mat-icon>
    <span>Pronóstico 5k</span>
  </a>
  <div class="flex-spacer"></div>
  <label class="fs-12"> {{ _usuario.nombreCompleto }} </label>
  <button mat-icon-button>
    <mat-icon>account_box</mat-icon>
  </button>
  <a mat-button
     (click)="logout.emit()">
    <mat-icon>power_settings_new</mat-icon>
    <span fxHide.lt-sm>Cerrar Sesión</span>
  </a>
</nav>
