:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.flex-spacer {
  flex-grow: 1;
}

.logo {
  height: 52px;
  margin: -20px;
  // height: 26px;
  // margin-right: 6px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .mat-button {
    min-width: 0px;
    padding: 0px 0px 0px 5px;
  }
}
