:host {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  :host {
    width: 96%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 769px) {
  :host {
    width: 90%;
  }
}

h3 {
  text-align: center;
  font-family: Exo, sans-serif;
}

mat-card {
  padding: 12px;
}

/******************************************/
.hide {
  display: none;
}

.mg-top{
  margin-top: 24px;
}