<mat-card>
  <h3 class="cl-primary">Entrega de Unidades Vendidas</h3>
  <div class="saving"
       *ngIf="saving">
    <mat-spinner *ngIf="saving"
                 strokeWidth="2"
                 diameter="50"></mat-spinner>
  </div>
  <entrega-unidades-form #f
                         (enviar)="save($event)"
                         (verificar)="verificar($event)"></entrega-unidades-form>
</mat-card>

<mat-card *ngIf="entrega.resultado.id==1"
          class="mg-top">
  <mat-card-header>
    <mat-card-title>Datos Vehículo Entregado</mat-card-title>
  </mat-card-header>

  <mat-card-content fxLayout="column"
                    fxLayoutGap="8px">

    <div fxLayout="row"
         fxLayoutGap="8px">
      <mat-form-field fxFlex="60"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Persona Entrega</mat-label>
        <input matInput
               readonly
               value="{{entrega.entregaVehicular.personaEntrega}}">
      </mat-form-field>

      <mat-form-field fxFlex="20"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Teléfono</mat-label>
        <input matInput
               type="text"
               readonly
               value="{{entrega.entregaVehicular.telefono}}">
      </mat-form-field>

      <mat-form-field fxFlex="20"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Fecha Entrega Vehículo</mat-label>
        <input matInput
               readonly
               value="{{entrega.entregaVehicular.fechaEntregaVehiculo | date: 'dd/MM/yyyy, hh:mm a'}}">
      </mat-form-field>

    </div>
    <mat-form-field fxFlex="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Opinión Entrega</mat-label>
      <textarea matInput
                readonly
                value="{{entrega.entregaVehicular.opinionEntrega}}"></textarea>
    </mat-form-field>

  </mat-card-content>
</mat-card>