:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.container-page-login {
  height: 100%;
  padding: 36px 36px 0px;
  background-color: #ebeff5;
}
.container-form-login {
  height: calc(100% - 36px);
  border-radius: 6px;
  background: white;
}

.mobile-page-login {
  padding: 0px;
}
.mobile-form-login {
  height: 100%;
}
