<div class="container-page-login"
     [ngClass]="'container-page-login'"
     [ngClass.lt-sm]="'mobile-page-login'">
    <div class="container-form-login mat-elevation-z2"
         [ngClass.lt-sm]="'mobile-form-login'">
        <login-form (submitted)="onSubmit($event)"
                    [pending]="pending"
                    [errorMessage]="error">
        </login-form>
    </div>

</div>