<div fxLayout="row"
     fxLayout.xs="column"
     style="display: inline-block;">
  <div fxFlex="25">
    <a routerLink="/llamar-cliente">
      <div class="rect bg-primary">
        <mat-icon>phone_in_talk</mat-icon>
        <p>LLAMADA A CLIENTE</p>
      </div>
    </a>
  </div>
  <div fxFlex="25">
    <a routerLink="/contestar-llamada">
      <div class="rect bg-accent">
        <mat-icon>phone_forwarded</mat-icon>
        <p>LLAMADA DEL CLIENTE</p>
      </div>
    </a>
  </div>
  <div fxFlex="25">
    <a routerLink="/historial">
      <div class="rect bg-info">
        <mat-icon>assignment</mat-icon>
        <p>HISTORIAL DE CONTACTOS</p>
      </div>
    </a>
  </div>
  <div fxFlex="25">
    <a routerLink="/reporte">
      <div class="rect bg-warning">
        <mat-icon>pie_chart</mat-icon>
        <p>REPORTES</p>
      </div>
    </a>
  </div>
  <div fxFlex="25">
    <a routerLink="/entrega-unidad">
      <div class="rect bg-accent">
        <mat-icon>drive_eta</mat-icon>
        <p>ENTREGA DE UNIDADES</p>
      </div>
    </a>
  </div>

  <div fxFlex="25">
    <a routerLink="/historial-entrega-unidad">
      <div class="rect bg-accent">
        <mat-icon>list_alt</mat-icon>
        <p>RELACION DE UNIDADES</p>
      </div>
    </a>
  </div>

  <div fxFlex="25">
    <a routerLink="/gestion-voz-negativa">
      <div class="rect bg-primary">
        <mat-icon>mic_off</mat-icon>
        <p>GESTION DE VOZ NEGATIVA</p>
      </div>
    </a>
  </div>
  <div fxFlex="25">
    <a routerLink="/agenda">
      <div class="rect bg-primary">
        <mat-icon>event_note</mat-icon>
        <p>AGENDA</p>
      </div>
    </a>
  </div>
</div>