:host {
  margin: 10% auto;
  width: 90%;
}

a {
  text-decoration: none;
}
p {
  font-size: 20px;
  padding: 10px;
  font-family: Exo, sans-serif;
}
mat-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
}
.rect {
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
  height: 130px;
}

.rect:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
