<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate
          fxLayout="column"
          fxLayoutGap="8px">

  <div fxLayout="row"
       fxLayoutGap="8px">
    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Motivo</mat-label>
      <mat-select placeholder="Seleccione Motivo"
                  formControlName="idMotivo"
                  required
                  #selmotivo>
        <mat-option *ngFor="let m of motivos"
                    [value]="m.idMotivo">
          {{m.motivo}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="10"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Mantto de: (k)</mat-label>
      <input matInput
             type="number"
             min="5"
             step="5"
             placeholder="k"
             formControlName="manttoK"
             required>
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Estado Llamada</mat-label>
      <mat-select placeholder="Seleccione Estado"
                  formControlName="seLogroContacto"
                  required
                  #selEstadoLlamada>
        <mat-option value="S">Se logró contacto</mat-option>
        <mat-option value="N">No se logró contacto</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Medio de Contacto</mat-label>
      <mat-select placeholder="Seleccione Medio de Contacto"
                  #selEstado
                  formControlName="idEstado"
                  required>
        <mat-option *ngFor="let e of _estados"
                    [value]="e.idEstado">
          {{e.estado}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="15"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Último Kilometraje Servicio</mat-label>
      <input matInput
             type="number"
             min="0"
             placeholder="Ingrese Último Kilometraje del servicio"
             formControlName="ultimoKilometrajeServicio">
    </mat-form-field>

  </div>

  <div fxLayout="row"
       fxLayoutGap="8px"
       fxLayout.xs="column">

    <mat-form-field *ngIf="selEstadoLlamada.value=='N'"
                    fxFlex="40"
                    appearance="outline"
                    color="accent">
      <mat-label>Observaciones</mat-label>
      <input matInput
             type="text"
             placeholder="Ingrese Observaciones"
             formControlName="vozCliente">
    </mat-form-field>

    <mat-form-field *ngIf="selEstadoLlamada.value=='N'"
                    fxFlex="30"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Fecha Retomar Contacto</mat-label>
      <input matInput
             (dateChange)="changeFecha($event.value)"
             [matDatepicker]="picker"
             [matDatepickerFilter]="dayFilter"
             formControlName="fechaRetomarContacto"
             placeholder="Seleccione Fecha">
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <time-picker fxFlex="30"
                 *ngIf="selEstadoLlamada.value=='N'"
                 [time]="horaRetomarContacto"
                 (change)="changeHora($event)"
                 disabledInput="true"
                 placeholder="Hora Retomar Contacto"></time-picker>
  </div>

  <!-- UNIDAD VENDIDA -->

  <mat-card *ngIf="selEstadoLlamada.value=='N' && selEstado.value==15">
    <mat-card-title>
      Unidad Vendida
    </mat-card-title>
    <mat-card-content fxLayout="row"
                      fxLayoutGap="8px">

      <mat-form-field fxFlex="60"
                      appearance="outline"
                      color="accent">
        <mat-label>Nuevo Dueño</mat-label>
        <input matInput
               type="text"
               placeholder="Ingrese Nombre"
               formControlName="nuevoDuenio">
      </mat-form-field>
      <mat-form-field fxFlex="40"
                      appearance="outline"
                      color="accent">
        <mat-label>Teléfono</mat-label>
        <input matInput
               type="text"
               placeholder="Ingrese Teléfono"
               formControlName="telefonoNuevoDuenio">
      </mat-form-field>
    </mat-card-content>
  </mat-card>


</mat-card>