<mat-card>
        <h3 class="cl-primary">Llamada del Cliente</h3>
        <div class="saving"
             *ngIf="saving">
                <mat-spinner *ngIf="saving"
                             strokeWidth="2"
                             diameter="50"></mat-spinner>
        </div>
        <formulario #f
                    [usuario]="usuario"
                    [clienteNombre]="cliente.nombre"
                    [clienteTelefono]="cliente.telefono"
                    [pendingTipos]="pendingTipos"
                    [motivos]="motivos"
                    [estados]="estados"
                    [respuestas]="respuestas"
                    [pendingBuscar]="pendingBuscar"
                    (enviar)="enviar($event)"
                    (buscarOrden)="buscarOrden($event)"
                    (verOrden)="verOrden()"></formulario>
</mat-card>