<div fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="4px">

  <mat-form-field appearance="outline"
                  color="accent">
    <mat-label>Fecha Inicio</mat-label>
    <input matInput
           autocomplete="off"
           [matDatepicker]="pickerInicio"
           [matDatepickerFilter]="dayFilter"
           [(ngModel)]="fechaInicio"
           placeholder="Seleccione Fecha">
    <mat-datepicker-toggle matSuffix
                           [for]="pickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline"
                  color="accent">
    <mat-label>Fecha Fin</mat-label>
    <input matInput
           autocomplete="off"
           [matDatepicker]="pickerFinal"
           [matDatepickerFilter]="dayFilter"
           [(ngModel)]="fechaFin"
           placeholder="Seleccione Fecha">
    <mat-datepicker-toggle matSuffix
                           [for]="pickerFinal"></mat-datepicker-toggle>
    <mat-datepicker #pickerFinal></mat-datepicker>
  </mat-form-field>

  <button mat-mini-fab
          color="accent"
          [disabled]="fechaInicio==null || fechaFin==null"
          (click)="buscarDatos()">
    <mat-icon>search</mat-icon>
  </button>
</div>
