<!-- SEGUIMIENTO POST SERVICIO-->
<mat-card fxLayoutGap="8px"
          [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B14. SEGUIMIENTO POST SERVICIO
    </mat-card-title>
    <mat-card-content fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="8px">

        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Seguimiento</mat-label>
            <mat-select placeholder="Seleccione Seguimiento"
                        formControlName="motivoDescripcion"
                        (ngModelChange)="changeServicio()">
                <mat-option *ngFor="let s of servicios"
                            [value]="s"> {{s}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button fxFlex="25"
                mat-raised-button
                color="primary"
                [disabled]="form.get('motivoDescripcion').value==null"
                (click)="abrirEncuesta()">
            <mat-icon>edit</mat-icon> Respuestas
        </button>
        <button fxFlex="25"
                mat-raised-button
                color="warn"
                (click)="borrarRespuestas()">
            <mat-icon>delete</mat-icon> Respuestas
        </button>

    </mat-card-content>
</mat-card>