<mat-card fxLayout="column">
  <h3 align="center"
      class="cl-primary">
    <strong>Historial de Contactos</strong>
  </h3>
  <historial-contacto-filtro (event)="changeEvent($event)">
  </historial-contacto-filtro>
  <hr class="wd-100">
  <historial-contacto class="scroll"
                      [buscar$]="eSubject.asObservable()"></historial-contacto>
</mat-card>
