<!-- SEGUIMIENTO POR TDP-->
<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B15. SEGUIMIENTO POR TDP
    </mat-card-title>

    <div fxLayout="column"
         fxLayoutGap="8px">

        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">
            <mat-form-field fxFlex="30"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Registro de Alertas TDP</mat-label>
                <mat-select placeholder="Seleccione Alerta"
                            formControlName="motivoDescripcion">
                    <mat-option *ngFor="let r of registroAlertas"
                                [value]="r"> {{r}} </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="70"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Voz Cliente</mat-label>
                <input matInput
                       formControlName="vozCliente"
                       placeholder="Ingrese Mensaje">
            </mat-form-field>
        </div>

        <div fxLayout="row"
             fxLayoutGap="8px"
             fxLayout.xs="column">
            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent">
                <mat-label>Resultado de Alertas</mat-label>
                <mat-select placeholder="Seleccione Resultado"
                            formControlName="personaModificaCita"
                            (selectionChange)="changeResultadoAlerta()">
                    <mat-option *ngFor="let r of resultadoAlertas"
                                [value]="r"> {{r}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="form.get('personaModificaCita').value=='Atención directa de voz cliente negativa'">
                <mat-label>Registro de Atención Directa</mat-label>
                <mat-select placeholder="Seleccione Atención"
                            formControlName="razonNoCita"
                            (selectionChange)="changeRegistroAlerta()">
                    <mat-option *ngFor="let a of atencionesDirectas"
                                [value]="a"> {{a}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="50"
                            fxFlex.xs="100"
                            appearance="outline"
                            color="accent"
                            *ngIf="form.get('personaModificaCita').value=='Atención indirecta para retención de cliente'">
                <mat-label>Registro de Atención Indirecta</mat-label>
                <mat-select placeholder="Seleccione Atención"
                            formControlName="razonNoCita"
                            (selectionChange)="changeRegistroAlerta()">
                    <mat-option *ngFor="let a of atencionesIndirectas"
                                [value]="a"> {{a}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ng-container *ngIf="form.get('personaModificaCita').value=='Atención directa de voz cliente negativa'">

            <mat-form-field *ngIf="form.get('razonNoCita').value=='Aclaración inmediata documentada'
                            || form.get('razonNoCita').value=='Aclaración inmediata no documentada'
                            || form.get('razonNoCita').value=='Otro'"
                            class="wd-100"
                            appearance="outline"
                            color="accent">
                <mat-label>Detalle de Atención</mat-label>
                <input matInput
                       formControlName="resumenContacto"
                       placeholder="Ingrese detalle">
            </mat-form-field>

            <datetime-picker *ngIf="form.get('razonNoCita').value=='Requiere retorno al taller para verificación de queja en taller'"
                             class="wd-100"
                             [label]="'Cita Retorno'"
                             (change)="form.get('fechaCitaCambiada').setValue($event)"></datetime-picker>

            <datetime-picker *ngIf="form.get('razonNoCita').value=='Requiere retorno al taller para verificación de queja en prueba de ruta'"
                             class="wd-100"
                             [label]="'Cita Retorno'"
                             (change)="form.get('fechaCitaCambiada').setValue($event)"></datetime-picker>
        </ng-container>


        <ng-container *ngIf="form.get('personaModificaCita').value=='Atención indirecta para retención de cliente'">

            <div *ngIf="form.get('razonNoCita').value=='Descuento'
                      ||form.get('razonNoCita').value=='Servicio Gratuito'"
                 fxLayout="row"
                 fxLayout.xs="column"
                 fxLayoutGap="8px">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Tipo de Servicio</mat-label>
                    <input matInput
                           formControlName="cFreno"
                           placeholder="Ingrese Tipo Servicio">
                </mat-form-field>
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Servicio</mat-label>
                    <input matInput
                           formControlName="dFreno"
                           placeholder="Ingrese Servicio">
                </mat-form-field>
            </div>

            <mat-form-field *ngIf="form.get('razonNoCita').value=='Servicio Gratuito'"
                            class="wd-100"
                            appearance="outline"
                            color="accent">
                <mat-label>Caducidad</mat-label>
                <input matInput
                       formControlName="bFreno"
                       placeholder="Ingrese Caducidad">
            </mat-form-field>

            <div *ngIf="form.get('razonNoCita').value=='Descuento'"
                 fxLayout="row"
                 fxLayout.xs="column"
                 fxLayoutGap="8px">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Tipo Descuento</mat-label>
                    <input matInput
                           formControlName="aFreno"
                           placeholder="Ingrese Descuento">
                </mat-form-field>
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                    <mat-label>Caducidad</mat-label>
                    <input matInput
                           formControlName="bFreno"
                           placeholder="Ingrese Caducidad">
                </mat-form-field>
            </div>

            <mat-form-field *ngIf="form.get('razonNoCita').value=='Otro'"
                            class="wd-100"
                            appearance="outline"
                            color="accent">
                <mat-label>Otro</mat-label>
                <input matInput
                       formControlName="dFreno"
                       placeholder="Ingrese Otro">
            </mat-form-field>

        </ng-container>
    </div>
</mat-card>