<mat-card>

  <mat-card-content>
    <mat-form-field appearance="outline"
                    class="wd-100"
                    color="accent">
      <mat-label>Razón no Agendó Cita</mat-label>

      <mat-select placeholder="Seleccione Razón"
                  (selectionChange)="changeRazon(selRazonNocita.value)"
                  #selRazonNocita>
        <mat-option *ngFor="let r of razones"
                    [value]="r">{{r}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>