:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container-login-form {
  // align-self: center;
  margin: 75px auto;
  padding: 1.25rem;
  width: 410px;
}
.mobile-container-login-form {
  width: 94%;
  padding: 0;
}
.container-login {
  display: flex;
  flex-direction: column;
}
.titulo {
  font-family: Exo, sans-serif;
  font-size: 2rem;
  color: #2a2a2a;
  font-weight: 500;
  // margin-bottom: 0;
  margin: 0;
  text-align: center;
}
.subtitulo {
  color: #a4abb3;
  font-family: Roboto;
  margin-bottom: 2rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
/**************************************************/
button {
  padding: 2px 0px;
  font-family: Exo, sans-serif;
  border-radius: 6px;
  // color: white;
  // background: #e41e10;
}
button.active {
  cursor: progress;
}

.progressbar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
mat-form-field.mat-form-field {
  font-size: 14px;
  font-family: Exo, sans-serif;
  padding-bottom: 1.34375em;
}

img {
  width: 48px;
  align-self: center;
  // margin-bottom: 8px;
}
.logo {
  color: #e41e10;
  font-weight: 600;
}
.error {
  font-family: Exo, sans-serif;
  margin-top: -6px;
}
