<ng-scrollbar>
    <div class="container-login-form"
         [ngClass.xs]="'mobile-container-login-form'">
        <div class="container-login">
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 fxLayoutGap="5px">
                <img src="assets/logo-white.png"
                     alt="logo">
                <h2 class="titulo logo">Corasur</h2>
            </div>
            <!-- <h2 class="titulo">Iniciar Sesión</h2> -->
            <small class="subtitulo">¡Hola! Inicie sesión con su nombre de usuario</small>
            <form novalidate
                  [formGroup]="loginForm"
                  (ngSubmit)="login()">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput
                           placeholder="Ingrese Nombre de Usuario"
                           formControlName="username">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput
                           type="password"
                           placeholder="Ingrese Contraseña"
                           formControlName="password"
                           [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix
                              class="pointer"
                              color="primary"
                              (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <span *ngIf="_errorMessage"
                      class="fs-13 cl-warn error">{{_errorMessage}}</span>
                <button color="primary"
                        mat-raised-button
                        type="submit"
                        [class.active]="_pending"
                        [disabled]="_pending">
                    <span>{{ _pending?'Autenticando... ':'Ingresar'}}</span>
                    <mat-progress-bar *ngIf="_pending"
                                      color="primary"
                                      class="progressbar"
                                      [mode]="'indeterminate'">
                    </mat-progress-bar>
                </button>
            </form>
        </div>
    </div>
</ng-scrollbar>