<div fxLayout="column"
     fxLayoutGap="15px">
  <mat-toolbar color="primary"
               fxLayoutAlign="center center"
               fxLayoutGap="15px">
    <div class="w-timepicker-selected-time">
      <span [ngClass]="currentView === VIEW_HOURS ? 'active': ''"
            (click)="setCurrentView(VIEW_HOURS)">{{ userTime.hour }}:</span>
      <span [ngClass]="currentView === VIEW_MINUTES ? 'active': ''"
            (click)="setCurrentView(VIEW_MINUTES)">{{ formatMinute() }}</span>
    </div>
    <div class="w-timepicker-selected-ampm">
      <span (click)="setMeridien('AM')"
            [ngClass]="userTime.meriden === 'AM' ? 'active' : ''">AM</span>
      <span (click)="setMeridien('PM')"
            [ngClass]="userTime.meriden === 'PM' ? 'active' : ''">PM</span>
    </div>

  </mat-toolbar>

  <div>
    <clock class="w-animation-zoom"
           [userTime]="userTime"
           [(currentView)]="currentView"
           (viewChange)="setCurrentView($event)"></clock>

    <div mat-dialog-actions
         fxLayoutAlign="space-around center">
      <button mat-button
              color="primary"
              (click)="submit()">OK</button>
      <button mat-button
              color="warn"
              (click)="revert()">Cancel</button>

    </div>
  </div>

</div>
