<mat-card fxLayout="column">
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <h3 class="cl-primary">
      <strong>Gestión Voz Negativa</strong>
    </h3>
  </div>
  <hr class="full-width">
  <mat-progress-bar *ngIf="loadingData"
                    color="accent"
                    mode="indeterminate"></mat-progress-bar>
  <ng-scrollbar class="scroll"
                [trackX]="true">
    <table mat-table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8">

      <ng-container matColumnDef="idContacto">
        <th fxFlex="60px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header> <span class="cl-info">Id</span> </th>
        <td fxFlex="60px"
            mat-cell
            *matCellDef="let o"
            class="fs-11 cl-gray"> {{o.idContacto}} </td>
      </ng-container>

      <ng-container matColumnDef="trabajadorCorasur">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Trabajador</span>
        </th>
        <td fxFlex="150px"
            mat-cell
            *matCellDef="let o"
            class="fs-11 cl-gray"> {{o.trabajadorCorasur}} </td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th fxFlex="100px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Placa</span>
        </th>
        <td fxFlex="100px"
            mat-cell
            *matCellDef="let o"
            class="fs-11 cl-gray"> {{o.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th fxFlex="216px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Cliente</span>
        </th>
        <td fxFlex="216px"
            mat-cell
            *matCellDef="let o"
            class="fs-11 cl-gray"> {{o.cliente}} </td>
      </ng-container>

      <ng-container matColumnDef="contactoCliente">
        <th fxFlex="180px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Contacto Cliente</span>
        </th>
        <td fxFlex="180px"
            mat-cell
            *matCellDef="let o"
            class="fs-11 cl-gray"> {{o.contactoCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="resultadoContacto">
        <th fxFlex="350px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Resultado Contacto</span>
        </th>
        <td fxFlex="350px"
            mat-cell
            *matCellDef="let o"
            class="fs-11 cl-gray"> {{o.resultadoContacto}} </td>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <th fxFlex="180px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="text-align:center;">
          <span class="cl-info">Motivo Contacto</span>
        </th>
        <td fxFlex="180px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"
            style="text-align:center;"> {{element.motivo}} </td>
      </ng-container>

      <ng-container matColumnDef="vozCliente">
        <th fxFlex="220px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="text-align:center;">
          <span class="cl-info">Voz Cliente</span>
        </th>
        <td fxFlex="220px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"
            style="text-align:center;"> {{element.vozCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaRegistro">
        <th fxFlex="180px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            style="text-align:center;">
          <span class="cl-info">Fecha Registro</span>
        </th>
        <td fxFlex="180px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"
            align="center"> {{element.fechaRegistro | date:'dd/MM/yyyy, hh:mm a'}}
        </td>

      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="columnas;"></tr>
      <tr mat-row
          *matRowDef="let row; columns: columnas;"
          (click)="selectRow(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </ng-scrollbar>


</mat-card>