<mat-dialog-content style="padding:5px; box-sizing: border-box;">
    <div class="wd-100"
         fxLayout="column"
         fxLayoutGap="8px">

        <pregunta *ngFor="let p of preguntas; let i=index"
                  [disabled]="p.disabled"
                  [detalle]="p.detalle"
                  [detalleDescripcion]="p.detalleDescripcion"
                  [tieneEstado]="p.tieneEstado"
                  [estado]="p.estado"
                  [label]="p.label"
                  [placeHolder]="p.placeHolder"
                  (changeEstado)="p.estado=$event;changeEstado($event,i)"
                  (changeDescripcion)="p.detalleDescripcion=$event">
        </pregunta>

    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <div>
        <button mat-raised-button
                color="primary"
                mat-dialog-close>GUARDAR</button>
    </div>
    <button mat-button
            mat-dialog-close>CANCELAR</button>
</mat-dialog-actions>