<mat-card class="wd-100"
          fxLayout="column"
          fxLayoutGap="8px">
    <div fxLayout="row"
         fxLayoutAlign="space-between center"
         fxLayoutGap="8px">
        <span class="pregunta"
              [style.color]="disabled?'gray':'green'"> {{detalle}} </span>
        <section *ngIf="tieneEstado">
            No <mat-slide-toggle #slt
                              [disabled]="disabled"
                              [checked]="estado"
                              (change)="changeState($event.checked)">
            </mat-slide-toggle> Si
        </section>
    </div>
    <mat-form-field class="wd-100"
                    appearance="outline"
                    color="accent">
        <mat-label>{{label}}
        </mat-label>
        <input matInput
               type="text"
               placeholder="{{placeHolder}}"
               [disabled]="disabled"
               [(ngModel)]="detalleDescripcion"
               (change)="changeInput($event.target.value)">
    </mat-form-field>
</mat-card>