@mixin dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .dialog .mat-dialog-container {
    max-width: 100%;
    padding: 0px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    // box-shadow: none;
    // background: transparent;
    .header {
      margin: 6px 0 6px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin-top: -3px;
        i,
        .mat-icon {
          font-size: 12px;
        }
      }
    }
    .content {
      padding: 24px;
      .dialog-divider-actions {
        margin: 0 -24px 0 -24px;
      }
    }
  }
}
