// estilo botones
@mixin form-field-theme($theme) {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    // padding: 0.5em 0 0.5em 0;
  }

  .input-baseline-mini-fab {
    margin-top: 0.4em;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}
