@mixin tab-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-tab-group {
    mat-tab-header {
      border-bottom: solid 1px #d0cdcd !important;
    }
    mat-tab-header .mat-tab-label-active {
      color: mat-color($primary, default-contrast);
      background-color: mat-color($primary);
      opacity: 1;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
