// estilo mat-card
@mixin table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-table {
    width: fit-content;
    .hover:hover {
      background-color: #8db8da42;
    }

    mat-header-row {
      min-height: 48px;
    }
    mat-header-cell {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      // color: mat-color($primary) !important;
    }
  }

  /******************************************************************************/

  .table-bordered {
    mat-table {
      mat-header-cell {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        background-color: mat-color($primary);
         color: white !important;
        // color: mat-color($primary, default-contrast) !important;
      }
      mat-header-cell:hover {
        .mat-sort-header-arrow {
          opacity: 0.8 !important;
        }
      }

      mat-header-cell,
      mat-cell {
        padding-left: 6px !important;
        padding-right: 6px !important;
      }

      /**************bordes tabla redondeado*****************/
      mat-header-cell:first-child {
        border-top-left-radius: 5px;
      }
      mat-header-cell:last-child {
        border-top-right-radius: 5px;
      }

      mat-row:last-child {
        mat-cell:first-child {
          border-bottom-left-radius: 5px;
        }
        mat-cell:last-child {
          border-bottom-right-radius: 5px;
        }
      }
      /****************************************************/

      mat-header-cell,
      mat-cell {
        border-left: 1px solid rgba(0, 0, 0, 0.12);
      }

      mat-header-cell:last-child,
      mat-cell:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
      }
    }
  }

  .mat-paginator-page-size-select {
    margin: 0 4px 0 4px;
  }
}
