<form class="wd-100"
      fxLayout="column"
      fxLayoutGap="10px">

    <datos-basicos #datosBasicos></datos-basicos>

    <motivo-estado #motivoEstado
                   (changeMotivoEstado)="changeMotivoActivo($event)"></motivo-estado>

    <ng-container *ngIf="seLogroContacto=='S'">

        <!-- B1 AGRADECIMIENTO DE COMPRA-->
        <motivo-b1 *ngIf="idMotivo==15"
                   #formMotivo></motivo-b1>

        <!-- B2 RECOJO DE TARJETA Y/O PLACA-->
        <motivo-b2 *ngIf="idMotivo==16"
                   #formMotivo></motivo-b2>

        <!-- B3 INVITACION A 1K -->
        <motivo-b3 *ngIf="idMotivo==17"
                   [idMotivo]="idMotivo"
                   #formMotivo></motivo-b3>

        <!-- B4 INVITACION A 5K-150k  -->
        <motivo-b3 *ngIf="idMotivo==18"
                   [idMotivo]="idMotivo"
                   [placa]="datosBasicos.form.value.placa"
                   #formMotivo></motivo-b3>

        <!-- B5 INVITACION A SSC -->
        <motivo-b5 *ngIf="idMotivo==19"
                   [idMotivo]="idMotivo"
                   #formMotivo></motivo-b5>

        <!-- B6 INVITACION A CAMPAÑA -->
        <motivo-b3 *ngIf="idMotivo==20"
                   [idMotivo]="idMotivo"
                   #formMotivo></motivo-b3>

        <!-- B7 INVITACION A RETORNO-->
        <motivo-b5 *ngIf="idMotivo==21"
                   [idMotivo]="idMotivo"
                   #formMotivo></motivo-b5>

        <!-- ARRIBO DE REPUESTOS-->
        <motivo-b8 *ngIf="idMotivo==22"
                   #formMotivo></motivo-b8>
        <!-- RECORDATORIO DE CITAS-->
        <motivo-b9 *ngIf="idMotivo==23"
                   #formMotivo></motivo-b9>
        <!-- APROBACION DE PRESUPUESTO ADICIONAL-->
        <motivo-b10 *ngIf="idMotivo==24"
                    #formMotivo></motivo-b10>
        <!-- APROBACION DE PRESUPUESTO ADICIONAL-->
        <motivo-b11 *ngIf="idMotivo==25"
                    #formMotivo></motivo-b11>
        <!-- NOTIFICACION TERMINO DE TRABAJO-->
        <motivo-b12 *ngIf="idMotivo==26"
                    #formMotivo></motivo-b12>
        <!-- POSTERGACION DE ENTREGA-->
        <motivo-b13 *ngIf="idMotivo==27"
                    #formMotivo></motivo-b13>
        <!-- SEGUIMIENTO POST SERVICIO-->
        <motivo-b14 *ngIf="idMotivo==28"
                    #formMotivo></motivo-b14>
        <!-- SEGUIMIENTO POR TDP-->
        <motivo-b15 *ngIf="idMotivo==29"
                    #formMotivo></motivo-b15>
        <!--RECOMENDACIONES EFECTUADAS POR MECANICO Y/O ASESOR DE SERVICIO-->
        <motivo-b16 *ngIf="idMotivo==30"
                    #formMotivo></motivo-b16>
        <!--OTROS-->
        <motivo-b17 *ngIf="idMotivo==31"
                    [idMotivo]="idMotivo"
                    #formMotivo></motivo-b17>

    </ng-container>

    <div fxLayout="row"
         fxLayoutAlign="center center">
        <button fxFlex="40"
                fxFlex.xs="100"
                [disabled]="datosBasicos.form.invalid || motivoEstado.form.invalid"
                mat-raised-button
                (click)="guardar()"
                color="primary">Guardar</button>
    </div>

</form>