<!-- NOTIFICACION TERMINO DE TRABAJO-->
<mat-card fxLayoutGap="8px"
          [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B12. NOTIFICACIÓN TERMINO DE TRABAJO
    </mat-card-title>
    <mat-card-content fxLayout="row"
                      fxLayout.xs="column"
                      fxLayoutGap="8px">

        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>Resultado de la Notificación</mat-label>
            <mat-select placeholder="Seleccione Resultado"
                        formControlName="motivoDescripcion"
                        required
                        (selectionChange)="changeNotificacion()">
                <mat-option *ngFor="let n of notificaciones"
                            [value]="n"> {{n}} </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxFlex="50"
             fxLayout="column"
             fxLayoutGap="8px">
            <datetime-picker *ngIf="form.get('motivoDescripcion').value=='Confirma fecha y hora de recojo, según cita' 
                             || form.get('motivoDescripcion').value=='Confirma fecha y hora de recojo, según OT'
                             || form.get('motivoDescripcion').value== 'Adelanto de fecha y hora de recojo, por termino de trabajo'"
                             [label]="'Recojo'"
                             (change)="changeFecha($event)"></datetime-picker>

            <mat-form-field appearance="outline"
                            color="accent"
                            *ngIf="form.get('motivoDescripcion').value=='Mensaje de voz notificando el termino del servicio' 
                                || form.get('motivoDescripcion').value=='Mensaje de texto notificando el termino del servicio'
                                || form.get('motivoDescripcion').value== 'Mensaje de Whatsapp notificando el termino del servicio'">
                <mat-label>Registrar Mensaje</mat-label>
                <input matInput
                       placeholder="Ingrese Mensaje"
                       formControlName="vozCliente">
            </mat-form-field>

            <datetime-picker *ngIf="form.get('motivoDescripcion').value== 'Desea postergar la fecha y hora entrega'"
                             [label]="'Solicitada'"
                             (change)="changeFecha($event)"></datetime-picker>

            <mat-form-field *ngIf="form.get('motivoDescripcion').value== 'Desea postergar la fecha y hora entrega'"
                            appearance="outline"
                            color="accent">
                <mat-label>Motivo</mat-label>
                <mat-select placeholder="Seleccione Motivo"
                            formControlName="razonNoCita"
                            required>
                    <mat-option *ngFor="let m of motivosNoti"
                                [value]="m">
                        {{m}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-card-content>
</mat-card>