<mat-card>
  <mat-card-title>
    {{titulo}}
  </mat-card-title>
  <mat-card-content fxLayout="column"
                    fxLayoutGap="8px">
    <div fxLayout="row"
         fxLayoutAlign="space-around"
         fxLayoutGap="16px">

      <agendar-cita fxFlex="50"
                    (change)="changeAgendarCita($event)"></agendar-cita>

      <fecha-cita fxFlex="50"
                  *ngIf="form.get('agendaCita').value=='S'"
                  (change)="changeFecha($event)"></fecha-cita>

      <razon-no-cita fxFlex="50"
                     *ngIf="form.get('agendaCita').value=='N'"
                     [idMotivo]="idMotivo"
                     (change)="changeRazonNoCita($event)"></razon-no-cita>
    </div>

    <servicios-cita *ngIf="form.get('agendaCita').value=='S'"
                    #sC></servicios-cita>

    <mat-form-field *ngIf="form.get('agendaCita').value=='N'"
                    appearance="outline"
                    class="wd-100"
                    color="accent">
      <mat-label>Detalle</mat-label>
      <input matInput
             (change)="changeVozCliente()"
             placeholder="Ingrese Detalle"
             [(ngModel)]="vozCliente">
    </mat-form-field>

  </mat-card-content>
</mat-card>