<mat-card fxLayout="column">

  <search-two-picker (buscar)="buscarPorFecha($event)"></search-two-picker>

  <hr class="full-width">
  <mat-progress-bar *ngIf="loadingData"
                    color="accent"
                    mode="indeterminate"></mat-progress-bar>
  <!-- <ng-scrollbar class="scroll" [trackX]="true"> -->
  <div class="scroll overflow">


    <table mat-table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8">

      <ng-container matColumnDef="idPronostico5k">
        <th fxFlex="60px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Nº</span> </th>
        <td fxFlex="60px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.idPronostico5k}} </td>
      </ng-container>
      <ng-container matColumnDef="placa">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Placa ó Serie</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.placa}} </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Modelo</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.modelo}} </td>
      </ng-container>
      <ng-container matColumnDef="cliente">
        <th fxFlex="200px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Contacto</span>
        </th>
        <td fxFlex="200px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.cliente}} </td>
      </ng-container>
      <ng-container matColumnDef="telefono1">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Telefono 1</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.telefono1}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono2">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Telefono 2</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.telefono2}} </td>
      </ng-container>
      <ng-container matColumnDef="mantenimiento">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Mantto</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.mantenimiento}} </td>
      </ng-container>
      <ng-container matColumnDef="nroPresupuesto">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Nro</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.nroPresupuesto}} </td>
      </ng-container>
      <ng-container matColumnDef="recomendacion">
        <th fxFlex="200px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow">
          <span class="th-title">
            Recomendación anterior servicio
          </span>
        </th>
        <td fxFlex="200px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.recomendacion}} </td>
      </ng-container>
      <ng-container matColumnDef="costo">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Costo S/.</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.costo}} </td>
      </ng-container>
      <ng-container matColumnDef="prioridad">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellow"><span class="th-title">Prioridad</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.prioridad}} </td>
      </ng-container>
      <ng-container matColumnDef="fecha15Antes">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellowgreen"><span class="th-title">Fecha 15 Antes de
            Pronóstico</span>
        </th>
        <!-- {{e.fecha15antes | date:'dd/MM/yyyy,hh:mm a'}} -->
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fecha15Antes }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fechaPactadaUltimoContacto">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellowgreen"><span class="th-title">Fecha Pactada con
            el Cliente en el Último Contacto</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fechaPactadaUltimoContacto }} </td>
      </ng-container>
      <ng-container matColumnDef="fechaCorregida">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellowgreen"><span class="th-title">Fecha Corregida</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fechaCorregida }} </td>
      </ng-container>
      <ng-container matColumnDef="fechaCorregidaSistema">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-yellowgreen"><span class="th-title">Fecha Corregida
            Sistema para Nivelación de Carga</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fechaCorregidaSistema }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fechaWppEnvio">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-thistle">
          <span class="th-title">Resultado Previo - Fecha Wapp Previo</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.fechaWppEnvio }}
        </td>
      </ng-container>
      <ng-container matColumnDef="vistobueno">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-thistle">
          <span class="th-title">Resultado previo - VV</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.vistobueno}} </td>
      </ng-container>
      <ng-container matColumnDef="resultado">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-thistle">
          <span class="th-title">Resultado previo - Resultado</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.resultado}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaLlamadaEfectuada">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-tan">
          <span class="th-title">Resultado de Llamada Efectuada - Fecha</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fechaLlamadaEfectuada}}
        </td>
      </ng-container>
      <ng-container matColumnDef="contesta">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-tan">
          <span class="th-title">Resultado de Llamada - Contesta / No contesta</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.contesta}} </td>
      </ng-container>
      <ng-container matColumnDef="resultado2">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-tan">
          <span class="th-title">Resultado de Llamada - Resultado</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.resultado2}} </td>
      </ng-container>
      <ng-container matColumnDef="fechaPactadaVolverLlamar">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-silver">
          <span class="th-title">Resultado de Llamada - Fecha Pactada Para
            Volver a Llamar</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fechaPactadaVolverLlamar }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fechaCita">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-palegreen">
          <span class="th-title">Resultado de llamada - Fecha Cita</span>
        </th>
        <td fxFlex="150px"
            align="center"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.fechaCita}}
        </td>
      </ng-container>
















      <!-- <ng-container matColumnDef="fechaRegistro">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="th-silver">
          <span class="th-title">Fecha Registro</span>
        </th>
        <td fxFlex="150px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray">
          {{element.fechaRegistro
          |date:'dd/MM/yyyy, hh:mm a'}} </td>
      </ng-container> -->

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
          (click)="selectRow(row)"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  <!-- </ng-scrollbar> -->

</mat-card>
