@mixin loading-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .cl-primary {
    color: mat-color($primary);
  }

  .modal-loading .mat-dialog-container {
    box-shadow: none;
    background: transparent;
  }
  .modal-loading-backdrop {
    background-color: mat-color($primary, default-contrast);
    opacity: 0.7 !important;
  }
}
