<div fxLayout="row"
     fxLayoutGap="8px"
     fxLayout.xs="column">
  <mat-form-field fxFlex="calc(50% - 4px)"
                  fxFlex.xs="100"
                  appearance="outline"
                  color="accent">
    <mat-label>Fecha {{label}}</mat-label>
    <input matInput
           readonly
           [matDatepicker]="dp"
           [matDatepickerFilter]="dayFilter"
           placeholder="Seleccione Fecha"
           (dateChange)="changeFecha($event.value)">
    <mat-datepicker-toggle matSuffix
                           [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <div fxFlex="calc(50% - 4px)">
    <time-picker [time]="hora"
                 (change)="changeHora($event)"
                 disabledInput="true"
                 placeholder="Hora {{label}}"></time-picker>
  </div>
</div>