<mat-card>
  <!-- <mat-card-title>
    Cita
  </mat-card-title> -->
  <mat-card-content fxLayout="row"
                    fxLayoutGap="8px">
    <mat-form-field fxFlex="50"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Fecha Cita</mat-label>
      <input matInput
             [matDatepicker]="pickerCita"
             [matDatepickerFilter]="dayFilter"
             placeholder="Seleccione Fecha"
             (dateChange)="changeFecha($event.value)">
      <mat-datepicker-toggle matSuffix
                             [for]="pickerCita"></mat-datepicker-toggle>
      <mat-datepicker #pickerCita></mat-datepicker>
    </mat-form-field>
    <div fxFlex="50">
      <time-picker [time]="horaCita"
                   (change)="changeHora($event)"
                   disabledInput="true"
                   placeholder="Hora Cita"></time-picker>
    </div>
  </mat-card-content>
</mat-card>