<mat-card>
  <mat-card-content>

    <mat-tab-group mat-align-tabs="center" backgroundColor="#c65911">
      <mat-tab label="Agenda 1K">
        <ng-template matTabContent>
          <!-- <agenda-1k></agenda-1k> -->
          <agenda-ssc></agenda-ssc>
        </ng-template>
      </mat-tab>

      <mat-tab label="Agenda 5K">
        <ng-template matTabContent>
          <!-- <agenda-5k></agenda-5k> -->
          <agenda-ssc></agenda-ssc>
        </ng-template>
      </mat-tab>

      <mat-tab label="Agenda SSC">
        <ng-template matTabContent>
          <agenda-ssc></agenda-ssc>
        </ng-template>
      </mat-tab>

      <mat-tab label="Agenda Incumplimiento Cita">
        <ng-template matTabContent>
          <incumplimiento-cita></incumplimiento-cita>
        </ng-template>
      </mat-tab>

      <!-- <mat-tab label="Agenda Notif Post HE">
        <agenda-notif-post-he></agenda-notif-post-he>
      </mat-tab> -->

      <mat-tab label="Agenda Notificación Termino de Trabajo">
        <ng-template matTabContent>
          <notificacion-termino-trabajo></notificacion-termino-trabajo>
        </ng-template>
      </mat-tab>

      <mat-tab label="Agenda Post Servicio">
        <ng-template matTabContent>
          <post-servicio></post-servicio>
        </ng-template>
      </mat-tab>

      <mat-tab label="Agenda Voz Negativa">
        <ng-template matTabContent>
          <agenda-voz-negativa></agenda-voz-negativa>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>
