<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #f="ngForm"
      novalidate
      class="wd-100"
      fxLayout="column"
      fxLayoutGap="10px">

  <mat-progress-bar *ngIf="pendingBuscar"
                    color="accent"
                    mode="indeterminate"></mat-progress-bar>

  <mat-card class="wd-100"
            fxLayout="row"
            fxLayoutAlign="space-around center"
            fxLayoutGap="8px"
            fxLayout.xs="column">
    <mat-form-field fxFlex="50"
                    fxFlex.xs
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Placa</mat-label>
      <input matInput
             placeholder="Ingrese Placa"
             formControlName="placa"
             minlength="6"
             maxlength="6"
             required
             type="text"
             #inputPlaca
             (keyup.enter)="pendingBuscar || inputPlaca.value.length<6 ?null:buscar(inputCliente,$event)">
    </mat-form-field>
    <div fxFlex="50"
         fxLayout="row"
         fxLayoutGap="8px"
         class="wd-100">
      <button fxFlex="50"
              mat-raised-button
              color="accent"
              (click)="buscar(inputCliente,$event)"
              type="button"
              [disabled]="pendingBuscar || inputPlaca.value.length<6">
        <mat-icon>search</mat-icon>
        <span [ngClass.xs]="'hide'">BUSCAR</span>
      </button>

      <button fxFlex="50"
              mat-raised-button
              color="accent"
              (click)="verResultados()"
              type="button">
        <mat-icon>visibility</mat-icon>
        <span [ngClass.xs]="'hide'"> RESULTADOS </span>
      </button>
    </div>
  </mat-card>

  <mat-card fxLayout="row"
            fxLayoutGap="8px"
            fxLayout.xs="column">
    <mat-form-field fxFlex="50"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Nombre Trabajador Corasur</mat-label>
      <input matInput
             disabled
             value="{{usuario.nombreCompleto}}">
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Tipo Comunicación</mat-label>
      <mat-select placeholder="Seleccione Valor"
                  formControlName="tipoContactot"
                  #tc
                  required>
        <mat-option value="Email"
                    selected>Email</mat-option>
        <mat-option value="Teléfono">Teléfono</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Email o Teléfono</mat-label>
      <input matInput
             placeholder="Ingrese {{tc.value}}"
             formControlName="contactot"
             required>
    </mat-form-field>

  </mat-card>

  <mat-card fxLayout="row"
            fxLayoutGap="8px"
            fxLayout.xs="column">
    <mat-form-field fxFlex="50"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Nombre Cliente</mat-label>
      <input matInput
             #inputCliente
             placeholder="Ingrese Nombre"
             formControlName="cliente">
    </mat-form-field>

    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Tipo Comunicación</mat-label>
      <mat-select placeholder="Seleccione Valor"
                  formControlName="tipoContactoc"
                  #tcc
                  required>
        <mat-option value="Email">Email</mat-option>
        <mat-option value="Teléfono">Teléfono</mat-option>
        <mat-option value="Dirección Física">Dirección Física</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Email/Teléfono/Dirección</mat-label>
      <input matInput
             placeholder="Ingrese {{tcc.value}}"
             formControlName="contactoc"
             required>
    </mat-form-field>
  </mat-card>

  <mat-card fxLayout="column"
            fxLayoutGap="8px">
    <mat-progress-bar *ngIf="pendingTipos"
                      color="accent"
                      mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row"
         fxLayoutGap="8px"
         fxLayout.xs="column">
      <mat-form-field fxFlex="30"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Motivo</mat-label>
        <mat-select placeholder="Seleccione Motivo"
                    formControlName="idMotivo"
                    required
                    #selmotivo>
          <mat-option *ngFor="let m of motivos"
                      [value]="m.idMotivo">
            {{m.motivo}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="10"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Mantto de: (k)</mat-label>
        <input matInput
               type="number"
               min="0"
               placeholder="k"
               formControlName="k"
               required>
      </mat-form-field>

      <mat-form-field fxFlex="30"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Estado Llamada</mat-label>
        <mat-select placeholder="Seleccione Estado"
                    formControlName="activo"
                    required
                    #selEstadoLlamada>
          <mat-option value="S">Se logró contacto</mat-option>
          <mat-option value="N">No se logró contacto</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="30"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Estado</mat-label>
        <mat-select placeholder="Seleccione Estado"
                    formControlName="idEstado"
                    required>
          <mat-option *ngFor="let e of _estados"
                      [value]="e.idEstado">
            {{e.estado}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row"
         fxLayoutGap="8px"
         fxLayout.xs="column">

      <mat-form-field fxFlex="29"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Resultado</mat-label>
        <mat-select placeholder="Seleccione Resultado"
                    formControlName="idRespuesta"
                    required>
          <mat-option *ngFor="let r of _respuestas"
                      [value]="r.idRespuesta">
            {{r.respuesta}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="71"
                      appearance="outline"
                      color="accent">
        <mat-label>Observaciones</mat-label>
        <input matInput
               type="text"
               placeholder="Ingrese Observaciones"
               formControlName="resultado"
               required>
      </mat-form-field>

    </div>

    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="8px"
         fxLayout.xs="column"
         fxLayoutAlign.xs="center">
      <mat-form-field fxFlex="30"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Fecha {{selEstadoLlamada.value=='N'?'Retomar':'Cita/Fecha Retomar'}} </mat-label>
        <input matInput
               [matDatepicker]="picker"
               [matDatepickerFilter]="myFilter"
               formControlName="fechaRetomar"
               placeholder="Seleccione Fecha">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <time-picker fxFlex="30"
                   [disabled]="form.get('fechaRetomar').disabled"
                   [time]="horaRetomar"
                   (change)="horaRetomar=$event"
                   disabledInput="true"
                   placeholder="Hora {{selEstadoLlamada.value=='N'?'Retomar':'Cita/Hora Retomar'}}"></time-picker>

      <mat-form-field fxFlex="20"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Último Kilometraje</mat-label>
        <input matInput
               type="number"
               min="0"
               placeholder="Ingrese Último Kilometraje"
               formControlName="km"
               required>
      </mat-form-field>

      <button fxFlex="20"
              fxFlex.xs="100"
              type="submit"
              mat-raised-button
              [disabled]="!form.valid"
              color="primary">CREAR LLAMADA</button>
    </div>

  </mat-card>

</form>