<!-- POSTERGACION DE ENTREGA-->
<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
    <mat-card-title>
        B13. POSTERGACION DE ENTREGA
    </mat-card-title>

    <mat-form-field class="wd-100"
                    appearance="outline"
                    color="accent">
        <mat-label>Resultado Postergación Entrega</mat-label>
        <mat-select placeholder="Seleccione..."
                    formControlName="motivoDescripcion"
                    (selectionChange)="changeSelect($event.value)">
            <mat-option *ngFor="let p of postergaciones"
                        [value]="p"> {{p}} </mat-option>
        </mat-select>
    </mat-form-field>

    <div fxLayoutGap="8px"
         fxLayout="row">

        <datetime-picker *ngIf="form.get('motivoDescripcion').value!=null"
                         fxFlex="calc(50% - 4px)"
                         fxFlex.xs="100"
                         [label]="'Entrega Reprogramada'"
                         (change)="form.get('fechaCitaReprogramada').setValue($event)"></datetime-picker>

        <mat-form-field *ngIf="form.get('motivoDescripcion').value!=null"
                        fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
            <mat-label>{{label}}</mat-label>
            <input matInput
                   placeholder="Ingrese {{label}}"
                   formControlName="vozCliente">
        </mat-form-field>

    </div>
</mat-card>