<mat-card fxLayout="column">
    <h3 class="cl-primary">AGENDA DE LLAMADAS</h3>

    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECORDATORIO MANTTO 5k
                </mat-panel-title>
            </mat-expansion-panel-header>
                
            <b-list-1></b-list-1>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECORDATORIO MANTTO 10k+
                </mat-panel-title>
            </mat-expansion-panel-header>
            <b-list-2></b-list-2>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    RECUPERACION DE CLIENTES
                </mat-panel-title>
            </mat-expansion-panel-header>
            <b-list-3></b-list-3>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>