:host {
  width: 100%;
}

table {
  width: 100%;
}

td,
th {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .scroll {
//   height: calc(100vh - 216px);
// }

tr.mat-row {
  height: auto;
  min-height: 48px;
}

:host.scroll {
  .scroll {
    height: calc(100vh - 216px);
  }
}
