<div fxLayout="column">
  <mat-progress-bar *ngIf="loadingData"
                    color="accent"
                    mode="indeterminate"></mat-progress-bar>
  <!-- <ng-scrollbar class="scroll"
                [trackX]="true"> -->
  <div class="scroll overflow">
    <table mat-table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8 ">

      <ng-container matColumnDef="placa">
        <th fxFlex="100px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Placa</span>
        </th>
        <td fxFlex="100px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaRegistro">
        <th fxFlex="180px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Fecha</span>
        </th>
        <td fxFlex="180px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.fechaRegistro | date:'dd/MM/yyyy,
          hh:mm
          a'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th fxFlex="216px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Persona Contactada</span>
        </th>
        <td fxFlex="216px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.cliente}} </td>
      </ng-container>

      <ng-container matColumnDef="contactoCliente">
        <th fxFlex="180px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Tf. del Cliente o mail</span>
        </th>
        <td fxFlex="180px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.contactoCliente}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th fxFlex="160px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Medio</span>
        </th>
        <td fxFlex="160px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <th fxFlex="220px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Motivo</span>
        </th>
        <td fxFlex="220px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.motivo}} </td>
      </ng-container>

      <ng-container matColumnDef="seLogroContacto">
        <th fxFlex="50px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Si/No</span>
        </th>
        <td fxFlex="50px"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          <div>
            <mat-chip color="{{e.seLogroContacto=='S'?'accent':'warn'}}"
                      selected>{{e.seLogroContacto}}</mat-chip>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="vozCliente">
        <th fxFlex="350px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Resultado Contacto</span>
        </th>
        <td fxFlex="350px"
            mat-cell
            *matCellDef="let e"
            class="fs-11 cl-gray">
          {{e.vozCliente}}
        </td>
      </ng-container>

      <ng-container matColumnDef="trabajadorCorasur">
        <th fxFlex="150px"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Trabajador Corasur</span>
        </th>
        <td fxFlex="150px"
            mat-cell
            *matCellDef="let element"
            class="fs-11 cl-gray"> {{element.trabajadorCorasur}} </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="columnas;"></tr>
      <tr mat-row
          *matRowDef="let row; columns: columnas;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  <!-- </ng-scrollbar> -->


</div>
