<mat-nav-list dense>
  <a mat-list-item
     routerLink="/llamar-cliente">
    <mat-icon mdListIcon>phone_in_talk</mat-icon>LLAMADA A CLIENTE
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item
     routerLink="/contestar-llamada">
    <mat-icon mdListIcon>phone_forwarded</mat-icon>LLAMADA DEL CLIENTE
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item
     routerLink="/historial">
    <mat-icon mdListIcon>assignment</mat-icon>HISTORIAL DE CONTACTOS
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item
     routerLink="/reporte">
    <mat-icon mdListIcon>pie_chart</mat-icon>REPORTES
  </a>
  <a mat-list-item
     routerLink="/entrega-unidad">
    <mat-icon mdListIcon>drive_eta</mat-icon>ENTREGA DE UNIDADES
  </a>
  <a mat-list-item
     routerLink="/historial-entrega-unidad">
    <mat-icon mdListIcon>list_alt</mat-icon>HISTORIAL DE UNIDADES NUEVAS
  </a>

  <a mat-list-item
     routerLink="/gestion-voz-negativa">
    <mat-icon mdListIcon>mic_off</mat-icon>GESTION DE VOZ NEGATIVA
  </a>
  <a mat-list-item
     routerLink="/agenda">
    <mat-icon mdListIcon>event_note</mat-icon>AGENDA
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>