<mat-progress-bar *ngIf="pendienteBuscar"
                  color="accent"
                  mode="indeterminate"></mat-progress-bar>
<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #f="ngForm"
      novalidate
      class="wd-100"
      fxLayoutGap="16px"
      fxLayout="column">


  <div fxLayoutGap="8px"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutAlign="start center">
    <mat-form-field fxFlex="15"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Serie TDP</mat-label>
      <input matInput
             placeholder="Ingrese Serie TDP"
             formControlName="serieTDP"
             minlength="6"
             maxlength="6"
             type="text"
             #inputSerieTDP
             (keyup.enter)="pendienteBuscar || inputSerieTDP.value.length<6 ?null:buscar(inputModelo,$event)">
    </mat-form-field>

    <button fxFlex="12.5"
            mat-raised-button
            color="warning"
            (click)="verificarVehiculo(inputSerieTDP.value)"
            type="button"
            [disabled]="inputSerieTDP.value.length<6">

      <span [ngClass.xs]="'hide'">Verificar</span>
      <mat-icon>drive_eta</mat-icon>
    </button>

    <button fxFlex="12.5"
            mat-raised-button
            color="accent"
            (click)="buscar(inputModelo,$event)"
            type="button"
            [disabled]="pendienteBuscar || inputSerieTDP.value.length<6">
      <mat-icon>search</mat-icon>
      <span [ngClass.xs]="'hide'">BUSCAR</span>
    </button>

    <mat-form-field fxFlex="20"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>VIN</mat-label>
      <input matInput
             readonly
             formControlName="vin"
             placeholder="Ingrese VIN">
    </mat-form-field>
    <mat-form-field fxFlex="20"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Año de Fabricación</mat-label>
      <input matInput
             placeholder="Ingrese Año"
             readonly
             formControlName="anioFabricacion">
    </mat-form-field>

    <mat-form-field fxFlex="20"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Modelo</mat-label>
      <input matInput
             placeholder="Ingrese Modelo"
             formControlName="modelo"
             #inputModelo>
    </mat-form-field>
  </div>

  <div fxLayoutGap="8px"
       fxLayout="row"
       fxLayout.xs="column">
    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Fecha Programación Entrega</mat-label>
      <input matInput
             (dateChange)="changeFechaProgramacionEntrega($event.value)"
             [matDatepicker]="pickerProgramacionEntrega"
             [matDatepickerFilter]="dayFilter"
             formControlName="fechaProgramacionEntrega"
             placeholder="Seleccione Fecha">
      <mat-datepicker-toggle matSuffix
                             [for]="pickerProgramacionEntrega"></mat-datepicker-toggle>
      <mat-datepicker #pickerProgramacionEntrega></mat-datepicker>
    </mat-form-field>
    <div fxFlex="24"
         fxFlex.xs="100">
      <time-picker [time]="horaProgramacionEntrega"
                   (change)="changeHoraProgramacionEntrega($event)"
                   disabledInput="true"
                   disabled="true"
                   placeholder="Hora Programación Entrega"></time-picker>
    </div>
    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Fecha Entrega</mat-label>
      <input matInput
             readonly
             (dateChange)="changeFechaEntrega($event.value)"
             [matDatepicker]="pickerFechaEntrega"
             [matDatepickerFilter]="dayFilter"
             formControlName="fechaEntregaVehiculo"
             placeholder="Seleccione Fecha">
      <mat-datepicker-toggle matSuffix
                             [for]="pickerFechaEntrega"></mat-datepicker-toggle>
      <mat-datepicker #pickerFechaEntrega></mat-datepicker>
    </mat-form-field>
    <div fxFlex="24"
         fxFlex.xs="100">
      <time-picker [time]="horaEntregaVehiculo"
                   (change)="changeHoraEntrega($event)"
                   disabledInput="true"
                   placeholder="Hora Entrega"></time-picker>
    </div>

  </div>

  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="8px">
    <mat-form-field fxFlex="50"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Nombre Persona Entrega Unidad</mat-label>
      <input matInput
             placeholder="Ingrese nombre"
             formControlName="personaEntrega">
    </mat-form-field>
    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Teléfono 1</mat-label>
      <input matInput
             type="number"
             placeholder="Ingrese teléfono 1"
             formControlName="telefono">
    </mat-form-field>
    <mat-form-field fxFlex="25"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Teléfono 2</mat-label>
      <input matInput
             type="number"
             placeholder="Ingrese teléfono 2"
             formControlName="celular">
    </mat-form-field>
  </div>

  <div fxLayout="row"
       fxLayoutGap="8px">
    <mat-form-field fxFlex="70"
                    appearance="outline"
                    color="accent">
      <mat-label>Opinión Entrega</mat-label>
      <input matInput
             placeholder="Ingrese opinión"
             formControlName="opinionEntrega">
    </mat-form-field>

    <mat-form-field fxFlex="30"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Uso Vehicular</mat-label>
      <mat-select placeholder="Uso Vehicular"
                  formControlName="usoVehicular">
        <mat-option *ngFor="let u of usosVehiculo"
                    [value]="u"> {{u}} </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="8px">

    <mat-form-field fxFlex="35"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Lugar de Uso</mat-label>
      <mat-select placeholder="Lugar de Uso"
                  formControlName="idDepartamento"
                  (ngModelChange)="changeDepartamento($event)">
        <mat-option *ngFor="let d of departamentos"
                    [value]="d.idDepartamento">
          {{d.departamento}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="35"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Provincia de Uso</mat-label>
      <mat-select placeholder="Provincia"
                  formControlName="idProvincia">
        <mat-option *ngFor="let p of provincias"
                    [value]="p.idProvincia">
          {{p.provincia}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30"
                    fxFlex.xs="100"
                    appearance="outline"
                    color="accent">
      <mat-label>Fecha Cita 1K Referencial</mat-label>
      <input matInput
             readonly
             [matDatepicker]="pickerFechaCita"
             [matDatepickerFilter]="dayFilter"
             formControlName="fechaCitaReferencial2"
             placeholder="Seleccione Fecha">
      <mat-datepicker-toggle matSuffix
                             [for]="pickerFechaCita"></mat-datepicker-toggle>
      <mat-datepicker #pickerFechaCita></mat-datepicker>
    </mat-form-field>

  </div>

  <div fxLayout="row"
       fxLayoutAlign="center center">
    <button fxFlex="40"
            fxFlex.xs="100"
            [disabled]="form.invalid"
            mat-raised-button
            type="submit"
            color="primary">Guardar</button>
  </div>

</form>
<!-- <div fxLayout="row">
  <pre>{{form.value |json}}</pre>
  <pre>{{form.getRawValue() |json }}</pre>
</div> -->