<mat-card class="container-form">
    <h3 class="cl-primary">Gestion Voz Negativa</h3>
    <div class="saving"
         *ngIf="saving">
        <mat-spinner *ngIf="saving"
                     strokeWidth="2"
                     diameter="50"></mat-spinner>
    </div>
    <gestion-voz-negativa-form #f
                               (enviar)="save($event)"></gestion-voz-negativa-form>
</mat-card>