:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.container-form {
  width: 70%;
}
@media only screen and (max-width: 600px) {
  .container-form {
    width: 96%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 769px) {
  .container-form {
    width: 90%;
  }
}

h3 {
  text-align: center;
  font-family: Exo, sans-serif;
}

mat-card {
  padding: 12px;
}

/******************************************/
.hide {
  display: none;
}
