$app-default-primary: mat-palette($mat-blue-grey, 900);
$app-default-accent: mat-palette($mat-teal, 500);
$app-default-warn: mat-palette($mat-red, 600);

$app-default-theme: mat-light-theme(
  $app-default-primary,
  $app-default-accent,
  $app-default-warn
);
