<mat-card fxLayout="column">

  <h3 align="center"
      class="cl-primary fw-400">Historial de Servicios</h3>
  <hr class="wd-100">
  <div class="scroll overflow">
    <table mat-table
           [dataSource]="dataSource"
           matSort
           class="mat-elevation-z8">

      <ng-container matColumnDef="Placa">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Placa</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="Orden">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Orden</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="Cliente">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Cliente</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="Km">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Km</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.km}} </td>
      </ng-container>

      <ng-container matColumnDef="Servicio">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Servicio</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.servicio}} </td>
      </ng-container>

      <ng-container matColumnDef="FechaInicio">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Fecha Inicio</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.fechaInicio |
          date:'dd/MM/yyyy, hh:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="FechaFin">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>
          <span class="cl-info">Fecha Fin</span>
        </th>
        <td mat-cell
            *matCellDef="let element"> {{element.fechaFin |date:'dd/MM/yyyy,
          hh:mm a'}} </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</mat-card>
