@mixin class-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .cl-primary,
  .text-primary,
  h2 {
    color: mat-color($primary);
  }

  .cl-accent,
  .text-accent {
    color: mat-color($accent);
  }

  .cl-warn,
  .text-warn {
    color: mat-color($warn);
  }

  .bg-primary {
    background: mat-color($primary);
  }

  .bg-accent {
    background: mat-color($accent);
  }

  .bg-warn {
    background: mat-color($warn);
  }
}

.cl-success,
.text-success {
  color: $success;
}

.cl-info,
.text-info {
  color: $info;
}

.cl-warning,
.text-warning {
  color: $warning;
}

.bg-success {
  background: $success;
}

.bg-info {
  background: $info;
}

.bg-warning {
  background: $warning;
}

.bg-danger {
  background: $danger;
}

/************TAMAÑO FUENTES**************/
.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

/***********************ESTILO NOTIFICACIONES**********************/
.notifyok-title,
.swalok-title {
  font-weight: 300;
  color: $success;
}

.notifyerror-title,
.swalerror-title {
  font-weight: 300;
  color: $error;
}

.notifyinfo-title {
  font-weight: 300;
  color: $info;
}

.notifywarn-title,
.swalwarn-title {
  font-weight: 300;
  color: $warning;
}

/******************************************************/
.wd-full,
.wd-100 {
  width: 100%;
}

.wd-50 {
  width: 50%;
}

/**********************PADDING************************/
.pd-0 {
  padding: 0;
}

.pd-12 {
  padding: 12px;
}

.pd-24 {
  padding: 24px;
}

.pd-36 {
  padding: 36px;
}

/****************************************************/
.pointer {
  cursor: pointer;
}

/********************elemnto a descargar archivo**************************/
.a-link-file {
  display: none;
}

.saving {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow {
  overflow: auto;
}

.relative {
  position: relative;
}
