@import 'styles-app-loading';

@import 'styles-reset';
@import 'colors';
@import '~@angular/material/theming';

@include mat-core();
// tema
@import './theme/default-theme';

//estilo elementos
@import './theme/elements/button-theme';
@import './theme/elements/form-field-theme';
@import './theme/elements/dialog-theme';
@import './theme/elements/card-theme';
@import './theme/elements/table-theme';
@import './theme/elements/tab-theme';

//mixins components
@import 'styles-reset.scss-theme';
@import '../app/@shared/nav-bar/nav-bar-theme';
// @import '../app/@core/loading/loading.component-theme';
// @import '../app/notify/notify.component-theme';

//clases tema
@import 'class-theme';

@mixin snackbar-cargando-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  .cargando-app {
    .mat-simple-snackbar {
      justify-content: center;
      font-weight: bold;
    }
    color: mat-color($accent);
  }
}

@mixin custom-components-theme($theme) {
  @include app-styles-reset-theme($theme);
  @include nav-bar-theme($theme);
  // @include loading-component-theme($theme);
  @include snackbar-cargando-app-theme($theme);
  // @include notify-component-theme($theme);

  //estilo elements app
  @include button-theme($theme);
  @include form-field-theme($theme);
  @include dialog-theme($theme);
  @include card-theme($theme);
  @include table-theme($theme);
  @include tab-theme($theme);

  //clases
  @include class-theme($theme);
}

@include angular-material-theme($app-default-theme);
@include custom-components-theme($app-default-theme);
