<!-- RECORDATORIO DE CITAS-->
<mat-card [formGroup]="form"
          #f="ngForm"
          novalidate>
  <mat-card-title>
    B9. RECORDATORIO DE CITAS
  </mat-card-title>

  <div fxLayout="column"
       fxLayoutGap="8px">
    <div fxLayout="row"
         fxLayoutGap="8px"
         fxLayout.xs="column">

      <mat-form-field fxFlex="50"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Resultado de Recordatorio de Cita</mat-label>
        <mat-select placeholder="Seleccione Resultado"
                    formControlName="motivoDescripcion">
          <mat-option *ngFor="let r of recordatorios"
                      [value]="r"> {{r}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [fxFlex]="form.value.motivoDescripcion=='Confusión al reservar cita'?'25':'50'"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Fecha Cita</mat-label>
        <input matInput
               [matDatepicker]="dpCita"
               [matDatepickerFilter]="dayFilter"
               formControlName="fechaCita"
               placeholder="Seleccione Fecha">
        <mat-datepicker-toggle matSuffix
                               [for]="dpCita"></mat-datepicker-toggle>
        <mat-datepicker #dpCita></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="form.value.motivoDescripcion=='Confusión al reservar cita'"
                      fxFlex="25"
                      fxFlex.xs="100"
                      appearance="outline"
                      color="accent">
        <mat-label>Fecha Nuevo Contacto</mat-label>
        <input matInput
               [matDatepicker]="dpNc"
               [matDatepickerFilter]="dayFilter"
               formControlName="fechaSugeridaClienteProxLlamada"
               placeholder="Cuando desea ser contactado">
        <mat-datepicker-toggle matSuffix
                               [for]="dpNc"></mat-datepicker-toggle>
        <mat-datepicker #dpNc></mat-datepicker>
      </mat-form-field>

    </div>

    <mat-form-field *ngIf="form.value.motivoDescripcion=='Confirma la cita'"
                    class="wd-100"
                    appearance="outline"
                    color="accent">
      <mat-label>Alguna Aclaración</mat-label>
      <input matInput
             formControlName="vozCliente"
             placeholder="Ingrese Aclaración">
    </mat-form-field>

    <ng-container *ngIf="form.value.motivoDescripcion=='Requiere cambios en la cita'">

      <mat-form-field class="wd-100"
                      appearance="outline"
                      color="accent">
        <mat-label>Nombre Persona que Solicita Cambio</mat-label>
        <input matInput
               formControlName="personaModificaCita"
               placeholder="Ingrese Nombre">
      </mat-form-field>

      <div fxLayout="row"
           fxLayoutGap="8px">
        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Razon Cambio Cita</mat-label>
          <mat-select placeholder="Seleccione Razón"
                      formControlName="razonModificaCita">
            <mat-option *ngFor="let r of razonesCambioCita"
                        [value]="r"> {{r}} </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="form.value.razonModificaCita=='Cambio tipo de servicio'"
                        fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Servicio</mat-label>
          <input matInput
                 formControlName="razonNoCita"
                 placeholder="Ingrese Servicio">
        </mat-form-field>

        <div *ngIf="form.value.razonModificaCita=='Cambio de hora mismo día'"
             fxFlex="calc(50% - 4px)"
             fxFlex.xs="100">
          <time-picker [time]="'12:00 PM'"
                       (change)="form.get('horaPosibleArribo').setValue(setHora($event))"
                       disabledInput="true"
                       placeholder="Hora Cambiada"></time-picker>
        </div>

        <datetime-picker *ngIf="form.value.razonModificaCita=='Cambio fecha y hora'"
                         fxFlex="calc(50% - 4px)"
                         fxFlex.xs="100"
                         [label]="'Cambiada'"
                         (change)="form.get('horaPosibleArribo').setValue($event)"></datetime-picker>

        <mat-form-field *ngIf="form.value.razonModificaCita=='Otro'"
                        fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Otros</mat-label>
          <input matInput
                 formControlName="vozCliente"
                 placeholder="Ingrese Mensaje">
        </mat-form-field>
      </div>
    </ng-container>

    <mat-form-field *ngIf="form.value.motivoDescripcion=='Mensaje de voz con el recordatorio de cita'
                         ||form.value.motivoDescripcion=='Mensaje de texto con el recordatorio de cita'
                         ||form.value.motivoDescripcion=='Mensaje de Whatsapp con el recordatorio de cita'"
                    appearance="outline"
                    color="accent">
      <mat-label>Mensaje Dejado</mat-label>
      <input matInput
             formControlName="vozCliente"
             placeholder="Ingrese Mensaje">
    </mat-form-field>

    <ng-container *ngIf="form.value.motivoDescripcion=='Cancelada'">

      <div fxLayout="row"
           fxLayoutGap="8px">

        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Nombre Persona que Cancela Cita</mat-label>
          <input matInput
                 formControlName="personaModificaCita"
                 placeholder="Ingrese Nombre">
        </mat-form-field>
        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Motivo Cancela Cita</mat-label>
          <mat-select placeholder="Seleccione Motivo"
                      formControlName="razonModificaCita">
            <mat-option *ngFor="let m of motivosCancelaCita"
                        [value]="m"> {{m}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="form.value.razonModificaCita=='Falta Repuesto'
                ||form.value.razonModificaCita=='Salud'
                ||form.value.razonModificaCita=='Trabajo'
                ||form.value.razonModificaCita=='Viaje'
                ||form.value.razonModificaCita=='Motivos Económicos'"
           fxLayout="row"
           fxLayoutGap="8px">

        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Fecha Retomar</mat-label>
          <input matInput
                 [matDatepicker]="dpFR"
                 [matDatepickerFilter]="dayFilter"
                 formControlName="fechaSugeridaClienteProxLlamada"
                 placeholder="Seleccione Fecha">
          <mat-datepicker-toggle matSuffix
                                 [for]="dpFR"></mat-datepicker-toggle>
          <mat-datepicker #dpFR></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="50"
                        fxFlex.xs="100"
                        appearance="outline"
                        color="accent">
          <mat-label>Voz Cliente</mat-label>
          <input matInput
                 formControlName="vozCliente"
                 placeholder="Ingrese mensaje">
        </mat-form-field>
      </div>

      <mat-form-field *ngIf="form.value.razonModificaCita=='No Desea' 
                          || form.value.razonModificaCita=='Mala Atención'"
                      class="wd-100"
                      appearance="outline"
                      color="accent">
        <mat-label>Voz Cliente Negativa</mat-label>
        <input matInput
               formControlName="vozCliente"
               placeholder="Ingrese mensaje">
      </mat-form-field>

    </ng-container>
  </div>
</mat-card>