<!-- <mat-card class="container-form">
        <h3 class="cl-primary">Gestion Voz Negativa</h3> -->
<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #f="ngForm"
      novalidate
      class="wd-100"
      fxLayout="column"
      fxLayoutGap="10px">

        <mat-card fxLayoutGap="16px"
                  fxLayout="row"
                  fxLayout.xs="column">

                <mat-form-field fxFlex="20"
                                appearance="outline"
                                color="accent">
                        <mat-label>Placa</mat-label>
                        <input matInput
                               type="text"
                               placeholder="Ingrese Placa"
                               disabled
                               value="{{datosCliente.placa}}">
                </mat-form-field>

                <mat-form-field fxFlex="50"
                                appearance="outline"
                                color="accent">
                        <mat-label>Cliente</mat-label>
                        <input matInput
                               type="text"
                               disabled
                               value="{{datosCliente.cliente}}">
                </mat-form-field>

                <mat-form-field fxFlex="30"
                                appearance="outline"
                                color="accent">
                        <mat-label>Contacto Cliente</mat-label>
                        <input matInput
                               type="text"
                               disabled
                               value="{{datosCliente.contactoCliente}}">
                </mat-form-field>

        </mat-card>
        <mat-progress-bar *ngIf="loadingEstados"
                          color="accent"
                          mode="indeterminate"></mat-progress-bar>

        <mat-card fxLayout="row"
                  fxLayoutGap="8px">
                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                        <mat-label>Estado Llamada</mat-label>
                        <mat-select placeholder="Seleccione Estado"
                                    formControlName="activo"
                                    #selEstadoLlamada>
                                <mat-option value="S">Se logró contacto</mat-option>
                                <mat-option value="N">No se logró contacto</mat-option>
                        </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="50"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                        <mat-label>Estado</mat-label>
                        <mat-select placeholder="Seleccione Estado"
                                    #selEstado
                                    formControlName="idEstado">
                                <mat-option *ngFor="let e of estados"
                                            [value]="e.idEstado">
                                        {{e.estado}}
                                </mat-option>
                        </mat-select>
                </mat-form-field>
        </mat-card>

        <mat-card fxLayout="row"
                  fxLayoutGap="8px">

                <mat-form-field fxFlex="50"
                                appearance="outline"
                                color="accent">
                        <mat-label>Observaciones</mat-label>
                        <input matInput
                               type="text"
                               placeholder="Ingrese Observaciones"
                               formControlName="resultadoContacto">
                </mat-form-field>

                <mat-form-field fxFlex="25"
                                fxFlex.xs="100"
                                appearance="outline"
                                color="accent">
                        <mat-label>Fecha Retomar Contacto</mat-label>
                        <input matInput
                               (dateChange)="changeFechaRetomar($event.value)"
                               [matDatepicker]="picker"
                               [matDatepickerFilter]="dayFilter"
                               formControlName="fechaRetomarContacto"
                               placeholder="Seleccione Fecha">
                        <mat-datepicker-toggle matSuffix
                                               [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <time-picker fxFlex="25"
                             [time]="horaRetomarContacto"
                             (change)="changeHoraRetomar($event)"
                             disabledInput="true"
                             placeholder="Hora Retomar Contacto"></time-picker>
        </mat-card>

        <div *ngIf="selEstadoLlamada.value=='S'"
             fxLayout="column"
             fxLayoutGap="8px">

                <mat-card fxLayoutGap="16px"
                          fxLayout="row"
                          fxLayout.xs="column">
                        <button mat-raised-button
                                [disabled]="isDirecta"
                                color="accent"
                                fxFlex="50"
                                (click)="isDirecta=true;changeAtencion('D')">
                                <span>ATENCIÓN <b>DIRECTA</b> DE VOZ CLIENTE NEGATIVA</span>

                        </button>
                        <button mat-raised-button
                                [disabled]="!isDirecta"
                                color="accent"
                                fxFlex="50"
                                (click)="isDirecta=false;changeAtencion('I')">
                                <span>ATENCIÓN <b>INDIRECTA</b> PARA RETENCIÓN DE CLIENTE</span>
                        </button>
                </mat-card>

                <mat-card *ngIf="isDirecta===true"
                          fxLayout="column"
                          fxLayoutGap="8px">

                        <mat-form-field class="wd-100"
                                        appearance="outline"
                                        color="accent">
                                <mat-label>Indicación Sugerida</mat-label>
                                <mat-select placeholder="Seleccione"
                                            formControlName="indicacionSugerida">
                                        <mat-option *ngFor="let item of listaDirecta"
                                                    [value]="item">
                                                {{item}}
                                        </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <mat-form-field class="wd-100"
                                        *ngIf="form.value.indicacionSugerida=='Aclaración inmediata documentada' 
                                                       || form.value.indicacionSugerida=='Aclaración inmediata no documentada'
                                                       || form.value.indicacionSugerida=='Otros'"
                                        appearance="outline"
                                        color="accent">
                                <mat-label>Detalle</mat-label>
                                <input matInput
                                       type="text"
                                       placeholder="Ingrese detalle"
                                       formControlName="detalleGestion">
                        </mat-form-field>

                        <div fxLayout="row"
                             fxLayoutGap="8px"
                             fxLayout.xs="column"
                             class="wd-100"
                             *ngIf="form.value.indicacionSugerida=='Requiere retorno a taller, queja en taller'
                                           ||form.value.indicacionSugerida=='Requiere retorno a taller, prueba de ruta'">
                                <mat-form-field fxFlex="50"
                                                fxFlex.xs="100"
                                                appearance="outline"
                                                color="accent">
                                        <mat-label>Fecha Retorno Taller</mat-label>
                                        <input matInput
                                               (dateChange)="changeFechaRetorno($event.value)"
                                               [matDatepicker]="picker"
                                               [matDatepickerFilter]="dayFilter"
                                               formControlName="fechaRetornoCorasur"
                                               placeholder="Seleccione Fecha">
                                        <mat-datepicker-toggle matSuffix
                                                               [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <time-picker fxFlex="50"
                                             fxFlex.xs="100"
                                             [time]="horaRetornoCorasur"
                                             (change)="changeHoraRetorno($event)"
                                             disabledInput="true"
                                             placeholder="Hora Retorno Taller"></time-picker>
                        </div>

                </mat-card>

                <mat-card *ngIf="isDirecta===false"
                          fxLayout="column"
                          fxLayoutGap="8px">

                        <mat-form-field class="wd-100"
                                        appearance="outline"
                                        color="accent">
                                <mat-label>Indicación Sugerida</mat-label>
                                <mat-select placeholder="Seleccione"
                                            formControlName="indicacionSugerida">
                                        <mat-option *ngFor="let item of listaIndirecta"
                                                    [value]="item">
                                                {{item}}
                                        </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <div fxLayout="row"
                             fxLayout.xs="column"
                             fxLayoutGap="8px"
                             *ngIf="form.value.indicacionSugerida=='Descuento'
                                           ||form.value.indicacionSugerida=='Servicio Gratuito'">
                                <mat-form-field fxFlex="25"
                                                appearance="outline"
                                                color="accent">
                                        <mat-label>Tipo descuento</mat-label>
                                        <input matInput
                                               type="text"
                                               placeholder="Ingrese tipo"
                                               formControlName="tipoDescuento">
                                </mat-form-field>

                                <mat-form-field fxFlex="25"
                                                appearance="outline"
                                                color="accent">
                                        <mat-label>Caducidad</mat-label>
                                        <input matInput
                                               type="text"
                                               placeholder="Ingrese Caducidad"
                                               formControlName="caducidad">
                                </mat-form-field>

                                <mat-form-field fxFlex="25"
                                                appearance="outline"
                                                color="accent">
                                        <mat-label>Tipo de Servicio</mat-label>
                                        <input matInput
                                               type="text"
                                               placeholder="Ingrese tipo"
                                               formControlName="tipoServicio">
                                </mat-form-field>

                                <mat-form-field fxFlex="25"
                                                appearance="outline"
                                                color="accent">
                                        <mat-label>Servicio</mat-label>
                                        <input matInput
                                               type="text"
                                               placeholder="Ingrese servicio"
                                               formControlName="servicio">
                                </mat-form-field>
                        </div>

                        <mat-form-field *ngIf="form.value.indicacionSugerida=='Otros'"
                                        appearance="outline"
                                        color="accent">
                                <mat-label>Otro</mat-label>
                                <input matInput
                                       type="text"
                                       placeholder="Ingrese mensaje"
                                       formControlName="detalleGestion">
                        </mat-form-field>

                </mat-card>

        </div>


        <div fxLayout="row"
             fxLayout.xs="column"
             fxLayoutGap="8px"
             fxLayoutAlign="center start">
                <button *ngIf="selEstadoLlamada.value=='S'"
                        fxFlex="40"
                        fxFlex.xs="100"
                        mat-raised-button
                        color="accent"
                        (click)="subirArchivo()">
                        Subir Archivo <mat-icon>cloud_upload</mat-icon>
                </button>
                <button fxFlex="40"
                        fxFlex.xs="100"
                        type="submit"
                        mat-raised-button
                        [disabled]="!form.valid"
                        color="primary">Guardar</button>
        </div>

</form>
<!-- </mat-card> -->