<div fxLayout="row"
     fxLayoutAlign="space-around center"
     fxLayoutGap="4px">


  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="4px">

    <mat-form-field appearance="outline"
                    color="accent">
      <mat-label>Fecha Inicial</mat-label>
      <input matInput
             [matDatepicker]="pickerInicio"
             [matDatepickerFilter]="dayFilter"
             [(ngModel)]="fechaInicio"
             placeholder="Seleccione Fecha">
      <mat-datepicker-toggle matSuffix
                             [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline"
                    color="accent">
      <mat-label>Fecha Final</mat-label>
      <input matInput
             [matDatepicker]="pickerFinal"
             [matDatepickerFilter]="dayFilter"
             [(ngModel)]="fechaFin"
             placeholder="Seleccione Fecha">
      <mat-datepicker-toggle matSuffix
                             [for]="pickerFinal"></mat-datepicker-toggle>
      <mat-datepicker #pickerFinal></mat-datepicker>
    </mat-form-field>

    <!-- <button mat-raised-button
              color="accent"
              [disabled]="loadingData || fechaInicio==null || fechaFin==null"
              (click)="buscarFecha()">
        Buscar <mat-icon>search</mat-icon>
      </button> -->
    <button mat-mini-fab
            color="accent"
            [disabled]="fechaInicio==null || fechaFin==null"
            (click)="buscarFecha()">
      <mat-icon>search</mat-icon>
    </button>

    <mat-form-field appearance="outline"
                    color="accent">
      <mat-label>Placa</mat-label>
      <input matInput
             placeholder="Ingrese Placa"
             type="text"
             #inputPlaca
             (keyup.enter)="inputPlaca.value.length<6 ?null:buscar(inputPlaca.value)">
    </mat-form-field>

    <!-- <button mat-raised-button
              color="accent"
              [disabled]="loadingData || inputPlaca.value.length<6"
              (click)="buscar(inputPlaca.value)">
        Buscar <mat-icon>search</mat-icon>
      </button> -->
    <button mat-mini-fab
            color="accent"
            [disabled]="inputPlaca.value.length<6"
            (click)="buscar(inputPlaca.value)">
      <mat-icon>search</mat-icon>
    </button>

  </div>


  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="4px">

    <!-- <mat-form-field appearance="outline"
                      color="accent">
        <mat-label>Placa</mat-label>
        <input matInput
               placeholder="Ingrese Placa"
               type="text"
               #inputPlaca
               (keyup.enter)="loadingData || inputPlaca.value.length<6 ?null:buscar(inputPlaca.value)">
      </mat-form-field>

      <button mat-raised-button
              color="accent"
              [disabled]="loadingData || inputPlaca.value.length<6"
              (click)="buscar(inputPlaca.value)">
        Buscar <mat-icon>search</mat-icon>
      </button> -->

    <!-- <button mat-mini-fab
                    color="info"
                    matTooltip="Actualizar/Borrar Búsqueda"
                    (click)="inputPlaca.value='';actualizar()">
                <mat-icon>refresh</mat-icon>
            </button> -->
    <!-- <span>CONTACTADOS=A. | NO CONTACTADOS=B.</span> -->
    <mat-chip-list>
      <mat-chip color="accent"
                selected
                class="pointer"
                (click)="filtrar('A.');inputFiltro.value='A.'">Contactados=A.</mat-chip>
      <mat-chip color="warn"
                selected
                class="pointer"
                (click)="filtrar('B.');inputFiltro.value='B.'">No
        Contactados=B.</mat-chip>
    </mat-chip-list>

    <mat-form-field appearance="outline"
                    color="accent">
      <mat-label>Filtrar</mat-label>
      <input matInput
             #inputFiltro
             (keyup)="filtrar($event.target.value)"
             placeholder="Ingrese valor a Filtrar"
             type="text">
    </mat-form-field>


    <button mat-raised-button
            color="accent"
            (click)="download()">
      Descargar <mat-icon>cloud_download</mat-icon>
    </button>

  </div>
</div>
